In [1]:
# Investment case study python file
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

# Import the numpy, pandas and PDF packages

import numpy as np
import pandas as pd
import PyPDF2 as pdf

__---------------------------------------------------------------------------------------__

# Task: Import Files and resolve encoding

*__SubTask: Load companies data into companies data frame__*

In [2]:
# code for importing the companies.csv file. ipynb file and the source file in the same location 
companies = pd.read_csv("companies.txt",sep='\t',encoding="ISO-8859-1",header=(0)) 
companies.head(5)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

*__SubTask: Load rounds data into rounds2 data frame__*

In [4]:
# code for importing the rounds2.csv file. ipynb file and the source file in the same location 
rounds2 = pd.read_csv("rounds2.csv",encoding="ISO-8859-1",header=(0)) 
rounds2.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

*__SubTask: Resolve encoding issues__*

*__Outcome: updated rounds2 and companies file__*

In [6]:
# code for resolving encoding issues in company_permalink column in rounds2 dataframe
rounds2['company_permalink'] = rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
rounds2.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
# code for resolving encoding issues in permalink and name column in companies dataframe
companies['permalink'] = companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
companies['name'] = companies.name.str.encode('utf-8').str.decode('ascii', 'ignore')
companies.head(5)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [8]:
# code for testing if the encoding has been resolved
companies[companies['homepage_url']=='http://inovatiff.com']

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66367,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

*__SubTask: Extract list of countries from PDF where English is an official language__*

*__Comments: since the file is only a reference file, the below code is only to undersatnd the data. Also the country name doesnt have country code associated, hence this will not be used to merge with rounds2 data__*

In [21]:
# reading the pdf file
pdf_object = open('Countries_where_English_is_an_official_language.pdf', 'rb')
pdfobject = pdf.PdfFileReader(pdf_object)
countries = pdfobject.getPage(0).extractText()
countries.split('\n')

['ListofcountrieswhereEnglishisanofficiallanguage',
 'AfricaBotswanaCameroonEthiopiaEritrea',
 'TheGambiaGhanaKenyaLesothoLiberiaMalawiMauritiusNamibiaNigeriaRwandaSeychellesSierraLeone',
 'SouthAfricaSouthSudanSudanSwazilandTanzaniaUgandaZambiaZimbabwe',
 'AmericasAntiguaandBarbudaTheBahamas',
 'BarbadosBelizeCanadaDominicaGrenadaGuyanaJamaicaSaintKittsandNevisSaintLuciaSaintVincentandtheGrenadinesTrinidadandTobago',
 'UnitedStates',
 '',
 'AsiaIndiaPakistanPhilippinesSingaporeAustralia/OceaniaAustraliaFijiKiribatiMarshallIslandsFederatedStates',
 'ofMicronesiaNauruNewZealand',
 'PalauPapuaNewGuineaSamoaSolomonIslands',
 'TongaTuvaluVanuatu',
 'EuropeIrelandMaltaUnitedKingdom',
 '']

__---------------------------------------------------------------------------------------__

# Task: Table 1.1

*__SubTask: How many unique companies are present in rounds2?__*

In [24]:
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower().str.strip()
rounds2['company_permalink'].unique().shape # 66368 unique companies

(66368,)

*__SubTask: How many unique companies are present in companies?__*

In [25]:
companies['permalink'] = companies['permalink'].str.lower().str.strip()
companies['permalink'].unique().shape # 66368 unique companies

(66368,)

*__SubTask: In the companies data frame, which column can be used as the unique key for each company?__*
>*Based on the investigation of data*
>>*__rounds2: company_permalink__*

>>*__companies: permalink__*

*__SubTask: Are there any companies in the rounds2 file which are not present in companies?__*

In [30]:
rounds2[~rounds2['company_permalink'].isin(companies['permalink'])] 
#Answer: N

Empty DataFrame
Columns: [company_permalink, funding_round_permalink, funding_round_type, funding_round_code, funded_at, raised_amount_usd]
Index: []

*__SubTask: Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame.__*
>*__Name the merged frame master_frame.__*
>>*__How many observations are present in master_frame?__*

In [31]:
master_frame = pd.merge(rounds2, companies, left_on = 'company_permalink', right_on = 'permalink', how='inner')
master_frame.shape 
#Observations:114949

(114949, 16)

__---------------------------------------------------------------------------------------__

<font color = Red> *__To be updated below this point__*</font>

# Task 11: Compute average funding amount of venture type
### Outcome: Item #1 in Table 2.1 of excel sheet

In [13]:
master_frame.funding_round_type.unique()
master_frame.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd', 'permalink',
       'name', 'homepage_url', 'category_list', 'status', 'country_code',
       'state_code', 'region', 'city', 'founded_at'],
      dtype='object')

In [14]:
master_frame.raised_amount_usd.describe()
master_frame.raised_amount_usd.isnull().sum()

19990

### Drop null 17% rows where raised_amount_usd isnull

In [15]:
master_frame = master_frame[~master_frame.raised_amount_usd.isnull()]
master_frame.shape

(94959, 16)

In [16]:
#master_frame.loc[pd.isnull(master_frame['raised_amount_usd']), ['raised_amount_usd']] = master_frame['raised_amount_usd'].describe()[6]

In [17]:
funding_grp = master_frame.groupby('funding_round_type')

In [18]:
funding_grp['raised_amount_usd'].mean()/1000000

funding_round_type
angel                      0.958694
convertible_note           1.453439
debt_financing            17.043526
equity_crowdfunding        0.538368
grant                      4.300576
non_equity_assistance      0.411203
post_ipo_debt            168.704572
post_ipo_equity           82.182494
private_equity            73.308593
product_crowdfunding       1.363131
secondary_market          79.649630
seed                       0.719818
undisclosed               19.242370
venture                   11.748949
Name: raised_amount_usd, dtype: float64

# Task 12: Compute average funding amount of angel type
### Outcome: Item #2 in Table 2.1 of excel sheet

In [19]:
# NA... refer above

# Task 13: Compute average funding amount of seed type
### Outcome: Item #3 in Table 2.1 of excel sheet

In [117]:
# NA... refer above

# Task 14: Compute average funding amount of private equity venture type
### Outcome: Item #4 in Table 2.1 of excel sheet

In [118]:
# NA... refer above

# Task 15: Determine most suitable investment type for Spark Funds
### Outcome: Item #5 in Table 2.1 of excel sheet

In [20]:
# venture type
# updating master dataframe for funding_round_type = venture
master_frame_venture = master_frame[master_frame['funding_round_type']=='venture']
master_frame_venture

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
11,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1700000.0,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
22,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0,/organization/1-mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
28,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,/organization/10-minutes-with,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
34,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,16-02-2011,2520000.0,/organization/1000memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
38,/organization/1000museums-com,/funding-round/13be128d655076a025221d7fddc90d68,venture,NaN,14-10-2009,265940.0,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
39,/organization/1000museums-com,/funding-round/6aeb32ab3fc05db2b606d7a2466e8c09,venture,NaN,15-01-2014,2906832.0,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
41,/organization/1000museums-com,/funding-round/89317984885b44f02e4befb9dc2e588c,venture,NaN,01-08-2014,1500000.0,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
44,/organization/1000museums-com,/funding-round/fd1b3064232ba9b3cfb5653a619e82e8,venture,NaN,05-04-2011,642000.0,/organization/1000museums-com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
46,/organization/1001-menus,/funding-round/645b4cd895450b8e0268027cd7813047,venture,B,04-11-2015,6602694.0,/organization/1001-menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
47,/organization/1001-menus,/funding-round/8025123b90c1ab687f9857ffe18bfd3b,venture,A,13-11-2013,1736910.0,/organization/1001-menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
49,/organization/1001-menus,/funding-round/b6c28ea4ebe32db7083052cf87e7c368,venture,A,25-10-2013,1800000.0,/organization/1001-menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
50,/organization/1001pharmacies-com,/funding-round/a21fc4d20200f43e3a25fd9cfc7c1482,venture,A,09-07-2015,8900000.0,/organization/1001pharmacies-com,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
52,/organization/1006-tv,/funding-round/b6aeb7401ec6993f92a16cbca153b600,venture,B,31-07-2014,10000000.0,/organization/1006-tv,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009
55,/organization/100du-tv,/funding-round/8797d60368bb0227f0d0ab4c72aef886,venture,A,07-01-2008,3000000.0,/organization/100du-tv,100du.tv,http://www.100du.com,Hospitality,operating,CHN,23,Shanghai,Shanghai,NaN
56,/organization/100e-com,/funding-round/22a86670d1055d7bafce665b27e91871,venture,NaN,01-01-2006,3000000.0,/organization/100e-com,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN
57,/organization/100e-com,/funding-round/a136f7eb873dfb13cec839fef7d7f51e,venture,NaN,01-09-2006,1500000.0,/organization/100e-com,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN
59,/organization/100health,/funding-round/502f558bee350299fd1ae503e5b9a124,venture,A,20-10-2015,3530000.0,/organization/100health,Redox,http://www.redoxengine.com,Health Care|Health Care Information Technology...,operating,USA,WI,Madison,Madison,04-07-2014
61,/organization/100plus,/funding-round/b5facb0d9dea2f0352b5834892c88c53,venture,NaN,02-11-2011,500000.0,/organization/100plus,100Plus,http://www.100plus.com,Analytics,acquired,USA,CA,SF Bay Area,San Francisco,16-09-2011
62,/organization/1010data,/funding-round/482fbf992b48f5c47d0080ab7ec0cb54,venture,NaN,08-03-2010,35000000.0,/organization/1010data,1010data,http://www.1010data.com,Software,acquired,USA,NY,New York City,New York,01-01-2000
73,/organization/10x-genomics,/funding-round/563923487783bdeb5d0b7872f3d6b99a,venture,B,12-01-2015,55000000.0,/organization/10x-genomics,10X Genomics,http://10xgenomics.com,Biotechnology|Technology,operating,USA,CA,SF Bay Area,Pleasanton,01-01-2012
74,/organization/10x-technologies,/funding-round/39c1441d5098875a925577d0f2ad3904,venture,B,12-01-2015,550000.0,/organization/10x-technologies,10X Technologies,http://10xtechnologies.com,Biotechnology,operating,USA,CA,SF Bay Area,Oakland,01-01-2012
80,/organization/117go,/funding-round/bbbda407fa8638d944ecfdd042230c4b,venture,B,28-04-2014,20000000.0,/organization/117go,117go,http://117go.com,Social Travel,operating,CHN,23,Shanghai,Shanghai,01-10-2011
81,/organization/11i-solutions,/funding-round/e07501ed6997290b1bef59406bc300a1,venture,NaN,22-03-2011,1800000.0,/organization/11i-solutions,11i Solutions,http://www.11isolutions.com,Enterprise Software,closed,USA,AL,Huntsville,Huntsville,NaN
95,/organization/1234enter,/funding-round/6343322ed785252d4c5ada444fa7d8e4,venture,NaN,22-11-2013,150267.0,/organization/1234enter,1234ENTER,http://www.1234enter.com.br,Advertising|Analytics|Business Services|E-Comm...,operating,NaN,NaN,NaN,NaN,01-01-2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114886,/organization/zymetis,/funding-round/6d3ae270761d1bb03a53e1cbf68a8317,venture,NaN,11-01-2010,757464.0,/organization/zymetis,Zymetis,http://www.zymetis.com,Biotechnology,closed,USA,MD,"Washington, D.C.",College Park,01-01-2006
114889,/organization/zymeworks,/funding-round/917b2ed7b99f219fcbc660c9789482d5,venture,D,22-09-2011,8100000.0,/organization/zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
114890,/organization/zymeworks,/funding-round/d51cfec3a0b6d8323d892e4fd4bb187e,venture,NaN,27-02-2015,1785700.0,/organization/zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
114891,/organization/zymeworks,/funding-round/d7b019f508ef724ca3a851a4359a272f,venture,NaN,06-09-2012,11000000.0,/organization/zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
114892,/organization/zymeworks,/funding-round/e4dee9b0a5fa30e650e5dea33e1faad8,venture,NaN,09-01-2014,15000000.0,/organization/zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
114893,/organization/zymeworks,/funding-round/fd4f9cd4c2ad9c8980848491cd467f35,venture,NaN,13-01-2015,23988700.0,/organization/zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
114894,/organization/zymeworks,/funding-round/fff65853a50d907bdf362b572076f1d1,venture,C,26-06-2009,3500000.0,/organization/zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004
114900,/organization/zyncd,/funding-round/3549f5a481f83610044a4226926acf5a,venture,NaN,01-09-2014,144451.0,/organization/zyncd,Zyncd,http://www.zyncd.com,Crowdsourcing|Knowledge Management,operating,GBR,H9,London,London,01-01-2014
114902,/organization/zyncro,/funding-round/35310bcb0945d9d4b5ffa5482e5c87f3,venture,B,03-02-2012,2105600.0,/organization/zyncro,Zyncro,http://www.zyncro.com,Cloud Computing|Enterprise 2.0|Enterprise Soft...,acquired,ESP,56,Barcelona,Barcelona,01-09-2009
114903,/organization/zyncro,/funding-round/c8dd9ae33cc5d5a1d972b470a5955373,venture,A,05-04-2011,1699920.0,/organization/zyncro,Zyncro,http://www.zyncro.com,Cloud Computing|Enterprise 2.0|Enterprise Soft...,acquired,ESP,56,Barcelona,Barcelona,01-09-2009
114904,/organization/zynerba-pharmaceuticals,/funding-round/8992160f6abc8e21563e54a6e97a8922,venture,NaN,14-10-2014,13000000.0,/organization/zynerba-pharmaceuticals,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,ipo,USA,PA,Philadelphia,Radnor,01-01-2014
114906,/organization/zynga,/funding-round/1bc4f7b3a778e5abfbd7131f595f5011,venture,B,04-11-2009,15187000.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114907,/organization/zynga,/funding-round/5bebd7acdfd44138f81d162f21c532f9,venture,NaN,12-10-2010,6337786.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114908,/organization/zynga,/funding-round/66d64809546fe2031d3479161e3c88f9,venture,A,01-01-2008,10000000.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114909,/organization/zynga,/funding-round/72e4fdf2cfb0cdc0750f90e486722068,venture,B,18-07-2008,25000000.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114910,/organization/zynga,/funding-round/8411431b5a0389a874e3fae93016c089,venture,B,24-04-2010,15000000.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114911,/organization/zynga,/funding-round/a6ebc53cf3c0c97d1cdd075f6bbf31fa,venture,C,18-02-2011,490000000.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114912,/organization/zynga,/funding-round/cf8299f657f7fd4cf01054ee1934109c,venture,B,14-06-2010,300000000.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114914,/organization/zynga,/funding-round/eb198261da812bc8d3bf475ccec44000,venture,A,12-02-2008,5026000.0,/organization/zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007
114915,/organization/zyngenia,/funding-round/55ec03b6fa2e812a2b4a9da5a4555752,venture,A,09-09-2010,25000000.0,/organization/zyngenia,Zyngenia,http://www.zyngenia.com,Biotechnology,operating,USA,MD,"Washington, D.C.",Gaithersburg,01-01-2008
114916,/organization/zynstra,/funding-round/05f43b37c270f5919578281ce803de8f,venture,B,09-07-2014,8400000.0,/organization/zynstra,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
114917,/organization/zynstra,/funding-round/129127802dd48be42d6cd45f65895245,venture,A,12-09-2013,3800000.0,/organization/zynstra,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
114920,/organization/zyomyx-inc,/funding-round/4191cb5258d3863b0212d1083881da64,venture,B,30-06-2013,12000000.0,/organization/zyomyx-inc,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114922,/organization/zyomyx-inc,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0,/organization/zyomyx-inc,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114923,/organization/zyomyx-inc,/funding-round/ea5b21da6cf999ff4d5667431fe318d7,venture,NaN,29-01-2010,555016.0,/organization/zyomyx-inc,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114931,/organization/zyraz-technology,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0,/organization/zyraz-technology,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114934,/organization/zyrra,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,NaN,18-10-2012,140500.0,/organization/zyrra,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
114936,/organization/zystor,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0,/organization/zystor,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN
114937,/organization/zytoprotec,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,A,29-01-2013,2686600.0,/organization/zytoprotec,Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,3,Vienna,Gerasdorf Bei Wien,01-01-2007
114941,/organization/zznode-science-and-technology-co...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,01-04-2012,1587301.0,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN

# Task 16: Compute top 9 countries that have received highest total funding
### Outcome: top9 data frame with the top 9 countries

In [21]:
top_country_grp = master_frame_venture.groupby('country_code') 

top_country_grp['raised_amount_usd'].sum().sort_values(ascending = False).head(9)/1000000

country_code
USA    422510.842796
CHN     39835.418773
GBR     20245.627416
IND     14391.858718
CAN      9583.332317
FRA      7259.536732
ISR      6907.514579
DEU      6346.959822
JPN      3363.676611
Name: raised_amount_usd, dtype: float64

# Task 17: Identify the top 3 English speaking countries in top9 data frame
### Outcome: Item #1,2,3 in Table 3.1 of excel sheet

In [121]:
# USA, GBR & IND from the above code

# Task 18: Map each company's primary sector to one of the 8 main sectors defined in the mappings.csv
### Outcome: Merged data frame that maps the primary sector to the main sector

In [22]:
master_frame_venture = master_frame_venture[master_frame_venture['country_code'].isin(['USA','GBR','IND'])]
master_frame_venture.country_code.unique()

array(['IND', 'USA', 'GBR'], dtype=object)

In [23]:
master_frame_venture["top_category"] = master_frame_venture['category_list'].str.split("|", n = 1, expand = True)[0]
master_frame_venture.top_category.unique()

array(['Media', 'Analytics', 'Apps', 'Education', 'Curated Web',
       'Health Care', 'Software', 'Biotechnology', 'Enterprise Software',
       'Service Providers', 'Manufacturing', 'Advertising', 'Internet',
       'Clean Technology', 'Health and Wellness', 'E-Commerce', 'News',
       'Art', 'Big Data', 'Finance', 'EdTech', 'Computers',
       'Cloud Computing', 'Hardware + Software', 'Internet of Things',
       'Cloud Infrastructure', 'Messaging', 'Information Technology',
       'Consumer Electronics', 'Data Centers', 'Android',
       'Customer Service', '3D Technology', '3D', 'Games', 'Drones',
       '3D Printing', 'Automated Kiosk', 'Music', 'Web Hosting',
       'Cloud Data Services', 'Consulting', nan, 'Physical Security',
       'Security', 'Databases', 'Flash Storage', 'Machine Learning',
       'Commercial Real Estate', 'Anything Capital Intensive',
       'Automotive', 'Ad Targeting', 'Office Space', 'Online Shopping',
       'Mobile', 'Accounting', 'B2B', 'Nanotechnology',
       'Content Creators', 'Services', 'Digital Entertainment', 'Beauty',
       'Exercise', 'Food Processing', 'Crowdsourcing',
       'Business Analytics', 'Chemicals', 'Batteries', 'Search',
       'Application Platforms', 'Telecommunications', 'Oil & Gas',
       'Audiobooks', 'Innovation Engineering', 'Collaboration',
       'Real Estate', 'Contact Management', 'Financial Services',
       'Business Services', 'Social Media', 'Energy', 'Medical',
       'Clean Energy', 'Logistics', 'Domains', 'Career Management',
       'Credit Cards', 'Homeland Security', 'Development Platforms',
       'Semiconductors', 'Credit', 'Medical Devices', 'Construction',
       'Content', 'Internet Radio Market', 'Brand Marketing',
       'Employer Benefits Programs', 'Sports', 'CRM', 'Data Integration',
       'Facebook Applications', 'Comparison Shopping', 'Electronics',
       'Bio-Pharm', 'Cloud Management', 'Business Intelligence',
       'Entertainment', 'Assisitive Technology', 'Coupons',
       'Marketing Automation', 'Electrical Distribution',
       'Renewable Energies', 'Digital Media', 'Human Resource Automation',
       'Big Data Analytics', 'Colleges', 'Embedded Hardware and Software',
       'Direct Sales', 'Cosmetics', 'Alumni', 'Finance Technology',
       'Ediscovery', 'Business Development', 'Enterprises', 'SaaS',
       'Information Services', 'Gps', 'Lasers', 'Agriculture',
       'Employment', 'Hospitality', 'Hotels', 'Content Syndication',
       'Broadcasting', 'Public Relations', 'Public Transportation',
       'Business Productivity', 'Aerospace', 'iPhone', 'Retail',
       'Hardware', 'Consumer Internet', 'Pharmaceuticals', 'Fitness',
       'Network Security', 'Artificial Intelligence', 'Cloud Security',
       'Healthcare Services', 'Architecture', 'Home Automation',
       'Document Management', 'Animal Feed', 'Bitcoin', 'Nonprofits',
       'Design', 'Data Mining', 'Legal', 'Industrial', 'Distribution',
       'Digital Signage', 'Carbon', 'Journalism',
       'Communications Hardware', 'Social Commerce', 'Video',
       'Consumer Goods', 'Technology', 'Networking', 'Internet Marketing',
       'Active Lifestyle', 'Wine And Spirits', 'Cooking', 'Pets',
       'Communities', 'Health Care Information Technology',
       'Estimation and Quoting', 'Diagnostics', 'Specialty Foods',
       'Waste Management', 'Mobile Security', 'Recruiting', 'Fashion',
       'Blogging Platforms', 'Incubators', 'VoIP', 'Gold', 'Discounts',
       'Ticketing', 'Biometrics', 'Banking', 'App Discovery',
       'Advertising Exchanges', 'Application Performance Monitoring',
       'Opinions', 'Delivery', 'Concentrated Solar Power',
       'App Marketing', 'All Markets', 'Corporate IT', 'All Students',
       'Developer APIs', 'Energy Management', 'Marketplaces',
       'Energy Efficiency', 'Publishing', 'Restaurants', 'Email',
       'Therapeutics', 'Cyber Security', 'Photo Sharing', 'Algorithms',
       'Audio', 'Billing', 'Data Security', 'Data Privacy',
       'Intellectual Property', 'Fuels', 'Identity', 'Human Resources',
       'Auctions', 'Bridging Online and Offline', 'Travel', 'SEO',
       'Artists Globally', 'Real Time', 'Film', 'Consumers',
       'Information Security', 'Defense', 'Lead Management',
       'Sales Automation', 'Private School', 'Payments', 'Archiving',
       'Bioinformatics', 'Public Safety', 'Fraud Detection',
       'Event Management', 'Enterprise Search', 'Content Delivery',
       'E-Commerce Platforms', 'Crowdfunding', 'Hospitals',
       'Clinical Trials', 'Online Travel', 'Events',
       'Reviews and Recommendations', 'Advertising Platforms',
       'Creative Industries', 'Collaborative Consumption',
       'Charter Schools', 'Internet Infrastructure',
       'Communications Infrastructure', 'Advice', 'Coworking',
       'Social Network Media', 'E-Books', 'Local Advertising', 'Chat',
       'Consumer Lending', 'Cyber', 'Emerging Markets', 'Outsourcing',
       'Open Source', 'Startups', 'Mobility',
       'Internet Service Providers', 'Infrastructure',
       'Location Based Services', 'Transportation', 'Photography',
       'Health and Insurance', 'Coffee', 'Diabetes', 'Groceries', 'CAD',
       'IT Management', 'Local Businesses', 'New Technologies',
       'Venture Capital', 'Recreation', 'Leisure', 'EBooks', 'Comics',
       'Non-Tech', 'Email Marketing', 'Home & Garden',
       'Mass Customization', 'Local', 'Politics', 'Contact Centers',
       'Creative', 'Freelancers', 'Bicycles', 'Wearables', 'Gadget',
       'Direct Marketing', 'Cannabis', 'Industrial Automation',
       'Investment Management', 'Organic Food', 'Optical Communications',
       'EDA Tools', 'Insurance', 'Sales and Marketing',
       'College Campuses', 'Furniture', 'Home Decor', 'Cars', 'Gift Card',
       'Auto', 'Electronic Health Records', 'Assisted Living',
       'Baby Boomers', 'Cable', 'Environmental Innovation',
       'Distributors', 'Augmented Reality', 'Gambling',
       'Knowledge Management', 'Computer Vision',
       'Health Services Industry', 'Certification Test',
       'Identity Management', 'Personalization', 'Utilities',
       'Career Planning', 'Market Research', 'Fantasy Sports',
       'Engineering Firms', 'Brokers', 'iPad', 'Designers', 'Charity',
       'Mobile Games', 'PaaS', 'Image Recognition', 'Angels',
       'Natural Gas Uses', 'Electric Vehicles', 'Governments',
       'File Sharing', 'Productivity Software', 'Alternative Medicine',
       'IaaS', 'Optimization', 'Developer Tools', 'Online Gaming',
       'Farming', 'Natural Language Processing', 'Storage', 'Lighting',
       'Intelligent Systems', 'Corporate Training', 'Lead Generation',
       'Lifestyle', 'Content Discovery', 'Intellectual Asset Management',
       'Enterprise 2.0', 'Health Diagnostics', 'Data Center Automation',
       'Call Center Automation', 'Console Gaming', 'Linux',
       'Risk Management', 'SexTech', 'Non Profit', 'Contests',
       'Browser Extensions', 'Data Center Infrastructure',
       'IT and Cybersecurity', 'Match-Making', 'Online Education',
       'Life Sciences', 'Dental', 'Mobile Health', 'Privacy',
       'Game Mechanics', 'Adaptive Equipment', 'Web Development',
       'Enterprise Application', 'Freemium', 'Systems',
       'Logistics Company', 'Elder Care', 'Dietary Supplements',
       'Mobile Devices', 'Textiles', 'Web Design',
       'Supply Chain Management', 'Building Products', 'Heavy Industry',
       'Innovation Management', 'Corporate Wellness', 'Interior Design',
       'Displays', 'Doctors', 'Semiconductor Manufacturing Equipment',
       'Clean Technology IT', 'Synchronization', 'Senior Citizens',
       'Project Management', 'Travel & Tourism', 'Demographies',
       'Concerts', 'Online Reservations', 'Commodities', 'Racing',
       'FinTech', 'Data Visualization', 'Specialty Retail',
       'Online Scheduling', 'Specialty Chemicals', 'Guides',
       'Sporting Goods', 'Recycling', 'Biofuels', 'Celebrity',
       'Mobile Commerce', 'Graphics', 'Local Search',
       'Advanced Materials', 'Television', 'Polling', 'Baby Accessories',
       'Eyewear', 'RFID', 'Outdoors', 'Religion', 'Sensors', 'Limousines',
       'Staffing Firms', 'Biotechnology and Semiconductor', 'Brewing',
       'Mobile Enterprise', 'Resorts', 'Portals', 'Adventure Travel',
       'Training', 'Web Browsers', 'Debt Collecting',
       'Indoor Positioning', 'Educational Games', 'Video on Demand',
       'Geospatial', 'Video Conferencing', 'Craft Beer', 'Product Design',
       'Rapidly Expanding', 'Business Information Systems', 'High Tech',
       'Theatre', 'Law Enforcement', 'Web Tools', 'Game',
       'Digital Rights Management', 'Mens Specific', 'Wireless',
       'Customer Support Tools', 'Advertising Networks',
       'Material Science', 'Social CRM', 'Governance', 'Kids', 'Babies',
       'In-Flight Entertainment', 'Entrepreneur', 'DIY', 'Trading',
       'Classifieds', 'Energy IT', 'Professional Services',
       'Skill Assessment', 'Robotics', 'Custom Retail',
       'Product Development Services', 'Mobile Analytics',
       'Entertainment Industry', 'Families', 'Video Games',
       'Space Travel', 'Disruptive Models', 'P2P Money Transfer', 'Maps',
       'College Recruiting', 'Navigation', 'App Stores', 'Fertility',
       'FreetoPlay Gaming', 'Interest Graph', 'Product Search',
       'Baby Safety', 'Online Identity', 'Point of Sale', 'Photo Editing',
       'Mobile Payments', 'Nutrition', 'Oil', 'Parking', 'Physicians',
       'Social Fundraising', 'BPO Services', 'Retail Technology',
       'QR Codes', 'iOS', 'Interface Design', 'Solar',
       'Mining Technologies', 'Property Management', 'Gamification',
       'Water', 'Enterprise Resource Planning', 'Presentations',
       'Personal Finance', 'Printing', 'Commercial Solar', 'M2M',
       'DOD/Military', 'Enterprise Security', 'Online Rental',
       'Search Marketing', 'Translation', 'Mobile Advertising',
       'Fleet Management', 'Peer-to-Peer', 'Local Based Services',
       'Independent Pharmacies', 'Lifestyle Businesses',
       'Loyalty Programs', 'Cosmetic Surgery', 'GreenTech',
       'Mobile Infrastructure', 'Retirement', 'Professional Networking',
       'Soccer', 'Price Comparison', 'Child Care',
       'Early-Stage Technology', 'Enterprise Purchasing', 'mHealth',
       'Financial Exchanges', 'Reputation', 'Social Media Marketing',
       'Young Adults', 'Green Consumer Goods', 'Incentives',
       'Meeting Software', 'Gas', 'Procurement', 'Water Purification',
       'Human Computer Interaction', 'Music Venues', 'Social Buying',
       'Social + Mobile + Local', 'Gift Exchange', 'Consumer Behavior',
       'Humanitarian', 'Mechanical Solutions', 'User Interface', 'Watch',
       'Service Industries', 'Tracking', 'Gift Registries',
       'Task Management'], dtype=object)

In [24]:
df_mapping = pd.read_csv("mapping.csv")
df_category_err = df_mapping[(df_mapping['category_list'].str.contains("0",na=False))&(~df_mapping['category_list'].str.contains("2.0",na=False))]
df_mapping.loc[(df_mapping['category_list'].str.contains("0",na=False))&(~df_mapping['category_list'].str.contains("2.0",na=False)),['category_list']] = df_category_err['category_list'].str.replace("0","na")

In [25]:
df_mapping[df_mapping['category_list'].str.contains("2.0",na=False)]

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
243,Enterprise 2.0,0,0,0,0,0,0,0,1,0

In [26]:
column_value = np.array(df_mapping.columns.tolist())
column_value = column_value.reshape(1,10)
df_mapping_list = pd.melt(df_mapping, id_vars=['category_list'], value_vars=print(column_value))
df_mapping_list = df_mapping_list[df_mapping_list["value"]==1]
df_mapping_list.head(10)

[['category_list' 'Automotive & Sports' 'Blanks'
  'Cleantech / Semiconductors' 'Entertainment' 'Health' 'Manufacturing'
  'News, Search and Messaging' 'Others'
  'Social, Finance, Analytics, Advertising']]

        category_list             variable  value
8    Adventure Travel  Automotive & Sports      1
14          Aerospace  Automotive & Sports      1
45               Auto  Automotive & Sports      1
46    Automated Kiosk  Automotive & Sports      1
47         Automotive  Automotive & Sports      1
57           Bicycles  Automotive & Sports      1
69   Boating Industry  Automotive & Sports      1
87                CAD  Automotive & Sports      1
93               Cars  Automotive & Sports      1
188            Design  Automotive & Sports      1

In [27]:
df_mapping_list["sector"] = df_mapping_list["variable"] 
df_mapping_list = df_mapping_list.drop(["variable","value"],axis=1)
df_mapping_list[df_mapping_list["category_list"]=='natural gas Uses']

Empty DataFrame
Columns: [category_list, sector]
Index: []

In [28]:
master_frame.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd', 'permalink',
       'name', 'homepage_url', 'category_list', 'status', 'country_code',
       'state_code', 'region', 'city', 'founded_at'],
      dtype='object')

In [29]:
master_frame_venture.top_category.unique().shape
df_mapping_list
master_frame_venture[~master_frame_venture['top_category'].str.lower().isin(df_mapping_list['category_list'].str.lower())].top_category.unique()

array(['Natural Gas Uses', 'Adaptive Equipment', 'Racing',
       'Specialty Retail', 'Biotechnology and Semiconductor',
       'Rapidly Expanding', 'Product Search', 'GreenTech', 'Retirement'],
      dtype=object)

In [30]:
master_frame_venture.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd', 'permalink',
       'name', 'homepage_url', 'category_list', 'status', 'country_code',
       'state_code', 'region', 'city', 'founded_at', 'top_category'],
      dtype='object')

In [31]:
df_mapping_list.columns

Index(['category_list', 'sector'], dtype='object')

In [33]:
# merge Master dataframe to mapping list to map category to sector
master_frame_venture = pd.merge(master_frame_venture, df_mapping_list, left_on = master_frame_venture['top_category'].str.strip().str.lower(), right_on = df_mapping_list['category_list'].str.strip().str.lower(), how='left')

In [34]:
df_mapping_list.sector.unique()

array(['Automotive & Sports', 'Blanks', 'Cleantech / Semiconductors',
       'Entertainment', 'Health', 'Manufacturing',
       'News, Search and Messaging', 'Others',
       'Social, Finance, Analytics, Advertising'], dtype=object)

In [36]:
#Assign missing categories in main data frame to Blanks Sector
master_frame_venture.columns

Index(['key_0', 'company_permalink', 'funding_round_permalink',
       'funding_round_type', 'funding_round_code', 'funded_at',
       'raised_amount_usd', 'permalink', 'name', 'homepage_url',
       'category_list_x', 'status', 'country_code', 'state_code', 'region',
       'city', 'founded_at', 'top_category', 'category_list_y', 'sector'],
      dtype='object')

In [37]:
master_frame_venture[master_frame_venture.sector.isnull()]

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,top_category,category_list_y,sector
7381,natural gas uses,/organization/clean-vehicle-solutions,/funding-round/7b991c526219c2edff8789942215d93b,venture,NaN,26-02-2010,125000.0,/organization/clean-vehicle-solutions,Clean Vehicle Solutions,http://cleanvehiclesolutions.com,Natural Gas Uses|Service Providers|Services,operating,USA,NJ,Newark,East Brunswick,NaN,Natural Gas Uses,NaN,NaN
10213,adaptive equipment,/organization/dolores-speech-products,/funding-round/ba7393d89b2a5ad0c076e2295794c4ce,venture,NaN,07-04-2015,250000.0,/organization/dolores-speech-products,Dolores Speech Products,http://doloresspeechproducts.com,Adaptive Equipment|Innovation Management|Speec...,operating,USA,MA,Boston,Wellesley,NaN,Adaptive Equipment,NaN,NaN
12439,racing,/organization/fia-formula-e,/funding-round/19a09624fcf806a4a64809462a4e391c,venture,NaN,15-05-2014,68569234.0,/organization/fia-formula-e,FIA Formula E,http://www.fiaformulae.com/,Racing,closed,GBR,F1,GBR - Other,Hammersmith,01-01-2012,Racing,NaN,NaN
12694,specialty retail,/organization/five-below,/funding-round/2a50c59492585ea4080fa67de755a442,venture,NaN,14-10-2010,194000000.0,/organization/five-below,Five Below,http://www.fivebelow.com,Specialty Retail,ipo,USA,PA,Philadelphia,Philadelphia,NaN,Specialty Retail,NaN,NaN
15028,biotechnology and semiconductor,/organization/healthtell,/funding-round/8edf7332fface9972541807a248690b3,venture,A,13-06-2014,9486929.0,/organization/healthtell,HealthTell,http://www.healthtell.com,Biotechnology and Semiconductor|Diagnostics|He...,operating,USA,CA,SF Bay Area,San Ramon,01-01-2010,Biotechnology and Semiconductor,NaN,NaN
17972,rapidly expanding,/organization/justinmind,/funding-round/c6e9adcef86247dccf8418dc3e4b9a0b,venture,A,17-12-2007,862000.0,/organization/justinmind,Justinmind,http://www.justinmind.com,Rapidly Expanding|Software|Usability|User Expe...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2007,Rapidly Expanding,NaN,NaN
23926,product search,/organization/omega-point-research,/funding-round/4870743e3fded9317f5611eb2e848667,venture,NaN,14-05-2015,3172815.0,/organization/omega-point-research,Omega Point Research,NaN,Product Search,closed,USA,CA,SF Bay Area,Los Altos,01-01-2013,Product Search,NaN,NaN
30101,greentech,/organization/sense-labs-inc-,/funding-round/1ed09dae5b9feaba2ae7f56dd1b9bfd2,venture,NaN,29-12-2014,2499999.0,/organization/sense-labs-inc-,Sense,http://sense.com/,GreenTech|Hardware|Home Automation|Internet of...,operating,USA,MA,Boston,Cambridge,01-01-2013,GreenTech,NaN,NaN
30363,retirement,/organization/shantiniketan-incorporated,/funding-round/96f7fa1fdcc380649723c8effc2a1062,venture,NaN,01-08-2008,1100000.0,/organization/shantiniketan-incorporated,ShantiNiketan Inc.,http://www.shantiniketan-us.com,Retirement,closed,USA,FL,Orlando,Tavares,21-01-2011,Retirement,NaN,NaN
30364,retirement,/organization/shantiniketan-incorporated,/funding-round/c6baca436fa80360921d89a06a0a0e93,venture,NaN,01-05-2011,2000000.0,/organization/shantiniketan-incorporated,ShantiNiketan Inc.,http://www.shantiniketan-us.com,Retirement,closed,USA,FL,Orlando,Tavares,21-01-2011,Retirement,NaN,NaN
36102,adaptive equipment,/organization/velocomp,/funding-round/2cdceb89206aad240a78e58329cec171,venture,NaN,09-09-2011,1420000.0,/organization/velocomp,Velocomp,NaN,Adaptive Equipment|Sporting Goods,operating,USA,FL,Palm Beaches,Boca Raton,NaN,Adaptive Equipment,NaN,NaN

In [38]:
master_frame_venture.loc[pd.isnull(master_frame_venture['sector']), ['sector']] = 'Blanks'

In [39]:
master_frame_venture[master_frame_venture.sector.isnull()]

Empty DataFrame
Columns: [key_0, company_permalink, funding_round_permalink, funding_round_type, funding_round_code, funded_at, raised_amount_usd, permalink, name, homepage_url, category_list_x, status, country_code, state_code, region, city, founded_at, top_category, category_list_y, sector]
Index: []

# Task 19: Compute the most heavily invested main sector in each of the 3 countries (identified in Task 17) for the selected funding type (identifed in Task 15) and investments in the range of 5 - 15 million USD
### Outcome: 3 separate data frames for - one for each of the 3 countries containing observations for the selected funding type falling within the 5 - 15 million USD range.

In [40]:
master_frame_USA = master_frame_venture[master_frame_venture['country_code']=='USA']
master_frame_GBR = master_frame_venture[master_frame_venture['country_code']=='GBR']
master_frame_IND = master_frame_venture[master_frame_venture['country_code']=='IND']

In [41]:
top_sector_grp_USA = master_frame_USA.groupby('sector')
top_sector_grp_GBR = master_frame_GBR.groupby('sector')
top_sector_grp_IND = master_frame_IND.groupby('sector')

In [42]:
top_sector_grp_USA['raised_amount_usd'].sum().sort_values(ascending = False).head(9)/1000000

sector
Cleantech / Semiconductors                 119931.874301
Social, Finance, Analytics, Advertising     86331.402349
Others                                      82822.211972
News, Search and Messaging                  45600.521085
Health                                      31675.057766
Manufacturing                               24845.319470
Entertainment                               17014.560960
Automotive & Sports                         11632.164696
Blanks                                       2657.730197
Name: raised_amount_usd, dtype: float64

In [43]:
top_sector_grp_GBR['raised_amount_usd'].sum().sort_values(ascending = False).head(9)/1000000

sector
Cleantech / Semiconductors                 5073.290093
Others                                     4492.219646
Social, Finance, Analytics, Advertising    3773.328672
News, Search and Messaging                 2956.023749
Entertainment                              1162.564878
Health                                     1046.654806
Manufacturing                              1019.283214
Automotive & Sports                         480.878712
Blanks                                      241.383646
Name: raised_amount_usd, dtype: float64

In [44]:
top_sector_grp_IND['raised_amount_usd'].sum().sort_values(ascending = False).head(9)/1000000

sector
Others                                     6329.507440
News, Search and Messaging                 1739.579948
Social, Finance, Analytics, Advertising    1578.804920
Automotive & Sports                        1556.350000
Entertainment                               976.191777
Cleantech / Semiconductors                  786.444633
Manufacturing                               730.260000
Health                                      564.370000
Blanks                                      130.350000
Name: raised_amount_usd, dtype: float64

### Total number of Investments (count)

In [45]:
# USA
master_frame_USA.shape

(36139, 20)

In [46]:
# GBR
master_frame_GBR.shape

(2055, 20)

In [47]:
# IND
master_frame_IND.shape

(824, 20)

### Total amount of investment (USD)

In [48]:
# USA
master_frame_USA.raised_amount_usd.sum()/1000000

422510.842796

In [49]:
# GBR
master_frame_GBR.raised_amount_usd.sum()/1000000

20245.627416

In [50]:
# IND
master_frame_IND.raised_amount_usd.sum()/1000000

14391.858718

### Top Sector name (no. of investment-wise)

In [51]:
# USA
top_sector_grp_USA['company_permalink'].count().sort_values(ascending = False).head(9)

sector
Others                                     8314
Cleantech / Semiconductors                 7996
Social, Finance, Analytics, Advertising    7246
News, Search and Messaging                 4356
Health                                     3269
Manufacturing                              2453
Entertainment                              1794
Automotive & Sports                         505
Blanks                                      206
Name: company_permalink, dtype: int64

In [52]:
#GBR
top_sector_grp_GBR['company_permalink'].count().sort_values(ascending = False).head(9)

sector
Others                                     516
Cleantech / Semiconductors                 442
Social, Finance, Analytics, Advertising    421
News, Search and Messaging                 241
Entertainment                              136
Manufacturing                              122
Health                                     118
Automotive & Sports                         44
Blanks                                      15
Name: company_permalink, dtype: int64

In [53]:
#IND
top_sector_grp_IND['company_permalink'].count().sort_values(ascending = False).head(9)

sector
Others                                     284
Social, Finance, Analytics, Advertising    147
News, Search and Messaging                 130
Entertainment                               76
Manufacturing                               55
Cleantech / Semiconductors                  54
Health                                      42
Automotive & Sports                         31
Blanks                                       5
Name: company_permalink, dtype: int64

### For point 3 (top sector count-wise), which company received the highest investment?

In [54]:
# USA
master_frame_USA[master_frame_USA['sector']=='Others'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,top_category,category_list_y,sector
31407,education,/organization/social-finance,/funding-round/1609f1ba4de61c4760c91dc69f4ae980,venture,E,30-09-2015,1.000000e+09,/organization/social-finance,SoFi,http://www.sofi.com,Education|Finance|Financial Services|Peer-to-Peer,operating,USA,CA,SF Bay Area,San Francisco,01-04-2011,Education,Education,Others

In [55]:
# GBR
master_frame_GBR[master_frame_GBR['sector']=='Others'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,top_category,category_list_y,sector
24135,technology,/organization/oneweb,/funding-round/0a9a5d2d5b49ac05b926325cbbbcfb49,venture,A,26-06-2015,500000000.0,/organization/oneweb,OneWeb,http://www.oneweb.world,Technology,operating,GBR,H9,London,London,01-01-2012,Technology,Technology,Others

In [56]:
# IND
master_frame_IND[master_frame_IND['sector']=='Others'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,top_category,category_list_y,sector
12803,e-commerce,/organization/flipkart,/funding-round/af6ac1c9d2f3050fd5e1530be3b9565f,venture,G,29-07-2014,1.000000e+09,/organization/flipkart,Flipkart,http://www.flipkart.com,E-Commerce|Online Shopping,operating,IND,19,Bangalore,Bangalore,01-09-2007,E-Commerce,E-Commerce,Others

### For point 4 (second best sector count-wise), which company received the highest investment?

In [57]:
# USA
master_frame_USA[master_frame_USA['sector']=='Cleantech / Semiconductors'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,top_category,category_list_y,sector
13173,semiconductors,/organization/freescale,/funding-round/a1495c088d886c8a4f4ce74403b77385,venture,NaN,21-10-2006,1.760000e+10,/organization/freescale,Freescale Semiconductor,http://www.freescale.com,Semiconductors,ipo,USA,TX,Austin,Austin,01-01-1953,Semiconductors,Semiconductors,Cleantech / Semiconductors

In [58]:
# GBR
master_frame_GBR[master_frame_GBR['sector']=='Cleantech / Semiconductors'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,top_category,category_list_y,sector
16048,biotechnology,/organization/immunocore,/funding-round/6159299c71ab84032910b48ceed406cf,venture,NaN,16-07-2015,320000000.0,/organization/immunocore,Immunocore,http://immunocore.com,Biotechnology|Market Research,operating,GBR,K2,London,Abingdon,01-01-2008,Biotechnology,Biotechnology,Cleantech / Semiconductors

In [59]:
# IND
master_frame_IND[master_frame_IND['sector']=='Social, Finance, Analytics, Advertising'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list_x,status,country_code,state_code,region,city,founded_at,top_category,category_list_y,sector
30502,consumer internet,/organization/shopclues-com,/funding-round/477206dc75c64006f1e8e22c250ff37c,venture,D,19-01-2015,100000000.0,/organization/shopclues-com,ShopClues.com,http://www.shopclues.com,Consumer Internet|E-Commerce|Shopping,operating,IND,10,New Delhi,Gurgaon,01-01-2011,Consumer Internet,Consumer Internet,"Social, Finance, Analytics, Advertising"

# Task 20: Determine the main sectors and countries Sparks Funds should invest by filling up Table 5.1 of excel sheet
### Outcome: Filled up Table 5.1 in excel sheet

In [ ]:
# Insert code here

# Task 21: Create a plot showing the fraction of total investments (globally) in venture, seed, and private equity, and the average amount of investment in each funding type
### Outcome: Tableau plot

In [89]:
df_plot1 = pd.DataFrame(funding_grp.raised_amount_usd.sum()/1000000)
df_plot1
df_plot1["Total"] = master_frame.raised_amount_usd.sum()/1000000
df_plot1["Fraction"]=df_plot1.raised_amount_usd/df_plot1.Total
df_plot1["Average_Investment"]=funding_grp.raised_amount_usd.mean()/1000000
df_plot1
df_plot1.to_csv("plot1", sep=',', encoding='utf-8')

,raised_amount_usd,Total,Fraction,Average_Investment
funding_round_type,,,,
angel,4659.255123,990125.085135,0.004706,0.958694
convertible_note,2103.125572,990125.085135,0.002124,1.453439
debt_financing,113884.840886,990125.085135,0.115021,17.043526
equity_crowdfunding,661.116163,990125.085135,0.000668,0.538368
grant,9134.424145,990125.085135,0.009226,4.300576
non_equity_assistance,30.017823,990125.085135,0.000030,0.411203
post_ipo_debt,25643.094917,990125.085135,0.025899,168.704572
post_ipo_equity,51610.606151,990125.085135,0.052125,82.182494
private_equity,141925.436105,990125.085135,0.143341,73.308593
product_crowdfunding,526.168593,990125.085135,0.000531,1.363131
secondary_market,2389.488903,990125.085135,0.002413,79.649630
seed,16989.864181,990125.085135,0.017159,0.719818
undisclosed,30441.429697,990125.085135,0.030745,19.242370
venture,590126.216876,990125.085135,0.596012,11.748949

# Task 22: Create a plot showing the top 9 countries against the total amount of investments for the selected funding type
### Outcome: Tableau plot

In [92]:
df_plot2 = pd.DataFrame(top_country_grp['raised_amount_usd'].sum().sort_values(ascending = False).head(9)/1000000)
df_plot2
df_plot2.to_csv("plot2", sep=',', encoding='utf-8')

# Task 23: A plot showing the number of investments in the top 3 sectors of the top 3 countries on one chart for the selected investment type 
### Outcome: Tableau Plot

In [99]:
df_plot3=master_frame_venture[master_frame_venture['country_code'].isin(['USA','GBR','IND'])]
df_plot3 = pd.DataFrame(df_plot3.groupby(['country_code','sector']).permalink.count())
df_plot3.to_csv("plot3", sep=',', encoding='utf-8')
df_plot3

                                                      permalink
country_code sector
GBR          Automotive & Sports                             44
             Blanks                                          15
             Cleantech / Semiconductors                     442
             Entertainment                                  136
             Health                                         118
             Manufacturing                                  122
             News, Search and Messaging                     241
             Others                                         516
             Social, Finance, Analytics, Advertising        421
IND          Automotive & Sports                             31
             Blanks                                           5
             Cleantech / Semiconductors                      54
             Entertainment                                   76
             Health                                          42
             Manufacturing                                   55
             News, Search and Messaging                     130
             Others                                         284
             Social, Finance, Analytics, Advertising        147
USA          Automotive & Sports                            505
             Blanks                                         206
             Cleantech / Semiconductors                    7996
             Entertainment                                 1794
             Health                                        3269
             Manufacturing                                 2453
             News, Search and Messaging                    4356
             Others                                        8314
             Social, Finance, Analytics, Advertising       7246