In [117]:
# Investment case study python file
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

# Import the numpy and pandas packages

import numpy as np
import pandas as pd

# Task 1 : Load companies data into companies data frame

In [118]:
companies = pd.read_csv("companies.txt", sep="\t",encoding = "ISO-8859-1")
companies['permalink']=companies['permalink'].str.lower()
companies['permalink']=companies['permalink'].str.strip()
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

# Task 2: Load rounds data into rounds2 data frame

In [119]:
rounds2 = pd.read_csv("rounds2.csv",encoding = "ISO-8859-1")
rounds2['company_permalink']=rounds2['company_permalink'].str.lower()
rounds2['company_permalink']=rounds2['company_permalink'].str.strip()
rounds2.info()
rounds2.describe()
rounds2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

# Task 3: Extract list of countries from PDF where English is an official language

In [120]:
import PyPDF2

# reading the pdf file
pdf_object = open('Countries_where_English_is_an_official_language.pdf', 'rb')
pdf_reader = PyPDF2.PdfFileReader(pdf_object)
# Number of pages in the PDF file
print(pdf_reader.numPages)

# get a certain page's text
page_object = pdf_reader.getPage(0)
print(page_object.extractText())
# Extract text from the page_object
print(page_object.extractText().splitlines())

1
ListofcountrieswhereEnglishisanofficiallanguage
AfricaBotswanaCameroonEthiopiaEritrea
TheGambiaGhanaKenyaLesothoLiberiaMalawiMauritiusNamibiaNigeriaRwandaSeychellesSierraLeone
SouthAfricaSouthSudanSudanSwazilandTanzaniaUgandaZambiaZimbabwe
AmericasAntiguaandBarbudaTheBahamas
BarbadosBelizeCanadaDominicaGrenadaGuyanaJamaicaSaintKittsandNevisSaintLuciaSaintVincentandtheGrenadinesTrinidadandTobago
UnitedStates

AsiaIndiaPakistanPhilippinesSingaporeAustralia/OceaniaAustraliaFijiKiribatiMarshallIslandsFederatedStates
ofMicronesiaNauruNewZealand
PalauPapuaNewGuineaSamoaSolomonIslands
TongaTuvaluVanuatu
EuropeIrelandMaltaUnitedKingdom

['ListofcountrieswhereEnglishisanofficiallanguage', 'AfricaBotswanaCameroonEthiopiaEritrea', 'TheGambiaGhanaKenyaLesothoLiberiaMalawiMauritiusNamibiaNigeriaRwandaSeychellesSierraLeone', 'SouthAfricaSouthSudanSudanSwazilandTanzaniaUgandaZambiaZimbabwe', 'AmericasAntiguaandBarbudaTheBahamas', 'BarbadosBelizeCanadaDominicaGrenadaGuyanaJamaicaSaintKittsandNevisSaintLuciaSaintVincentandtheGrenadinesTrinidadandTobago', 'UnitedStates', '', 'AsiaIndiaPakistanPhilippinesSingaporeAustralia/OceaniaAustraliaFijiKiribatiMarshallIslandsFederatedStates', 'ofMicronesiaNauruNewZealand', 'PalauPapuaNewGuineaSamoaSolomonIslands', 'TongaTuvaluVanuatu', 'EuropeIrelandMaltaUnitedKingdom']

# Task 4: Compute no. of unique companies in round2
### Outcome: Item #1 in Table 1.1 of excel sheet

In [121]:
rounds2.company_permalink.unique().size

66370

# Task 5: Compute no. of unique companies in companies
### Outcome: Item #2 in Table 1.1 of excel sheet

In [122]:
companies.permalink.unique().size

66368

# Task 6: Identify column in companies df that can be used as unique key for each company
### Outcome: Item #3 in Table 1.1 of excel sheet

In [123]:
# Insert code here

# Task 7: Check if there are companies in round2 that are not in companies
### Outcome: Item #4 in Table 1.1 of excel sheet

In [124]:
# Insert code here

# Task 8: Resolve encoding issue in permalink column
### Outcome: Updated master_frame data frame

In [127]:
#Removing the encoded values from the comany permalink column
companies.permalink=companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
rounds2.company_permalink=rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
companies.head()
print("Rounds2 data:",rounds2.company_permalink.unique().size)
print("companies data:",companies.permalink.unique().size)

Rounds2 data: 66368
companies data: 66368

In [108]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

# Task 9: Merge companies & round2 data frames into master_frame df and compute total no. of observations in master_frame
### Outcome: Item#5 in Table 1.1 of excel sheet; master_frame data frame"

In [135]:
companies.rename(columns={'permalink': 'company_permalink'},inplace=True)
master_frame=pd.merge(rounds2, companies, how='left', on='company_permalink')
master_frame.info()
master_frame.index.size
print("master_frame data:",master_frame.company_permalink.unique().size)
master_frame.describe()
master_frame.raised_amount_usd.sort_values(ascending = False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(14)
memory usage: 14.0+ MB
master_frame data: 66368

106562    2.127194e+10
37569     1.760000e+10
16470     1.066494e+10
86136     5.800000e+09
16474     5.000000e+09
75532     4.745460e+09
60207     4.700000e+09
96027     4.630000e+09
106564    3.835050e+09
106565    3.822518e+09
45528     3.600000e+09
18962     3.500000e+09
35771     3.500000e+09
21675     3.200000e+09
20541     3.200000e+09
17355     2.400000e+09
4368      2.000000e+09
27550     2.000000e+09
113711    2.000000e+09
80139     1.900000e+09
18963     1.662513e+09
4369      1.600000e+09
104177    1.600000e+09
82673     1.500000e+09
66807     1.500000e+09
3767      1.500000e+09
20537     1.500000e+09
17098     1.500000e+09
34407     1.500000e+09
106179    1.498515e+09
              ...
114776             NaN
114793             NaN
114806             NaN
114807             NaN
114809             NaN
114815             NaN
114818             NaN
114820             NaN
114822             NaN
114823             NaN
114827             NaN
114833             NaN
114834             NaN
114847             NaN
114857             NaN
114859             NaN
114860             NaN
114869             NaN
114878             NaN
114884             NaN
114885             NaN
114895             NaN
114896             NaN
114897             NaN
114898             NaN
114899             NaN
114905             NaN
114913             NaN
114927             NaN
114946             NaN
Name: raised_amount_usd, Length: 114949, dtype: float64

# Task 10: Resolve encoding issue in company_permalink
### Outcome: Updated master_frame data frame

In [ ]:
# Insert code here

# Task 11: Compute average funding amount of venture type
### Outcome: Item #1 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 12: Compute average funding amount of angel type
### Outcome: Item #2 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 13: Compute average funding amount of seed type
### Outcome: Item #3 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 14: Compute average funding amount of private equity venture type
### Outcome: Item #4 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 15: Determine most suitable investment type for Spark Funds
### Outcome: Item #5 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 16: Compute top 9 countries that have received highest total funding
### Outcome: top9 data frame with the top 9 countries

In [ ]:
# Insert code here

# Task 17: Identify the top 3 English speaking countries in top9 data frame
### Outcome: Item #1,2,3 in Table 3.1 of excel sheet

In [ ]:
# Insert code here

# Task 18: Map each company's primary sector to one of the 8 main sectors defined in the mappings.csv
### Outcome: Merged data frame that maps the primary sector to the main sector

In [ ]:
# Insert code here

# Task 19: Compute the most heavily invested main sector in each of the 3 countries (identified in Task 17) for the selected funding type (identifed in Task 15) and investments in the range of 5 - 15 million USD
### Outcome: 3 separate data frames for - one for each of the 3 countries containing observations for the selected funding type falling within the 5 - 15 million USD range.

In [ ]:
# Insert code here

# Task 20: Determine the main sectors and countries Sparks Funds should invest by filling up Table 5.1 of excel sheet
### Outcome: Filled up Table 5.1 in excel sheet

In [ ]:
# Insert code here

# Task 21: Create a plot showing the fraction of total investments (globally) in venture, seed, and private equity, and the average amount of investment in each funding type
### Outcome: Tableau plot

In [ ]:
# Insert code to export data for use in Tableau??

# Task 22: Create a plot showing the top 9 countries against the total amount of investments for the selected funding type
### Outcome: Tableau plot

In [ ]:
# Insert code to export data for use in Tableau??

# Task 23: A plot showing the number of investments in the top 3 sectors of the top 3 countries on one chart for the selected investment type 
### Outcome: Tableau Plot

In [ ]:
# Insert code to export data for use in Tableau??