In [1]:
# Investment case study python file
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

# Import the numpy and pandas packages

import numpy as np
import pandas as pd

# Task 1 : Load companies data into companies data frame

In [2]:
companies = pd.read_csv("companies.txt", sep="\t",encoding = "ISO-8859-1")
companies['permalink']=companies['permalink'].str.lower()
companies['permalink']=companies['permalink'].str.strip()
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

# Task 2: Load rounds data into rounds2 data frame

In [3]:
rounds2 = pd.read_csv("rounds2.csv",encoding = "ISO-8859-1")
rounds2['company_permalink']=rounds2['company_permalink'].str.lower()
rounds2['company_permalink']=rounds2['company_permalink'].str.strip()
rounds2.info()
rounds2.describe()
rounds2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

# Task 4: Compute no. of unique companies in round2
### Outcome: Item #1 in Table 1.1 of excel sheet

In [4]:
rounds2.company_permalink.unique().size

66370

# Task 5: Compute no. of unique companies in companies
### Outcome: Item #2 in Table 1.1 of excel sheet

In [5]:
companies.permalink.unique().size

66368

# Task 6: Identify column in companies df that can be used as unique key for each company
### Outcome: Item #3 in Table 1.1 of excel sheet

In [9]:
# Insert code here

# Task 7: Check if there are companies in round2 that are not in companies
### Outcome: Item #4 in Table 1.1 of excel sheet

In [10]:
# Insert code here

# Task 8: Resolve encoding issue in permalink column
### Outcome: Updated master_frame data frame

In [6]:
#Removing the encoded values from the comany permalink column
companies.permalink=companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
rounds2.company_permalink=rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
companies.head()
print("Rounds2 data:",rounds2.company_permalink.unique().size)
print("companies data:",companies.permalink.unique().size)

Rounds2 data: 66368
companies data: 66368

In [7]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

# Task 9: Merge companies & round2 data frames into master_frame df and compute total no. of observations in master_frame
### Outcome: Item#5 in Table 1.1 of excel sheet; master_frame data frame"

In [93]:
companies.rename(columns={'permalink': 'company_permalink'},inplace=True)
master_frame=pd.merge(rounds2, companies, how='left', on='company_permalink')
master_frame.raised_amount_usd.sort_values(ascending = False)
#master_frame.loc[pd.isnull(master_frame['raised_amount_usd']), ['raised_amount_usd']]=7000000
master_frame = master_frame[~master_frame.raised_amount_usd.isnull()]
master_frame['raised_amount_usd']=master_frame['raised_amount_usd']/1000000
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94959 entries, 0 to 114948
Data columns (total 15 columns):
company_permalink          94959 non-null object
funding_round_permalink    94959 non-null object
funding_round_type         94959 non-null object
funding_round_code         28169 non-null object
funded_at                  94959 non-null object
raised_amount_usd          94959 non-null float64
name                       94958 non-null object
homepage_url               90627 non-null object
category_list              93915 non-null object
status                     94959 non-null object
country_code               89108 non-null object
state_code                 87355 non-null object
region                     87911 non-null object
city                       87914 non-null object
founded_at                 78993 non-null object
dtypes: float64(1), object(14)
memory usage: 11.6+ MB

In [94]:
master_frame
inv_by_funding_type=master_frame.groupby('funding_round_type')

# Task 10: Resolve encoding issue in company_permalink
### Outcome: Updated master_frame data frame

In [95]:
master_frame

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10.000000,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,0.700000,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3.406878,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2.000000,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,0.041250,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
7,/organization/0ndine-biomedical-inc,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,0.043360,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,0.719491,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
9,/organization/0xdata,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3.000000,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20.000000,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
11,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,1.700000,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8.900000,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
13,/organization/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,NaN,05-02-2014,0.150000,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
15,/organization/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,NaN,20-07-2011,1.000050,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
16,/organization/1-2-3-listo,/funding-round/6de4609e894495105bc791ed64361288,seed,NaN,18-02-2013,0.040000,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012
20,/organization/1-800-doctors,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,NaN,02-03-2011,1.750000,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984
21,/organization/1-800-publicrelations-inc-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6.000000,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
22,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5.000000,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
23,/organization/1-of-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,NaN,13-12-2014,0.100000,1 of 99,NaN,Entertainment|Games,operating,USA,CA,SF Bay Area,Mountain View,01-12-2014
24,/organization/10-20-media,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,NaN,11-01-2011,0.800000,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
25,/organization/10-20-media,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,NaN,18-06-2009,0.500000,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
26,/organization/10-20-media,/funding-round/a884bf8326b9fd59789c0f74a28dbc3b,debt_financing,NaN,28-12-2011,0.500000,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
27,/organization/10-20-media,/funding-round/d205f5416ce55e126beda3ed2bf2c2cd,debt_financing,NaN,30-03-2010,0.250000,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001
28,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4.000000,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
29,/organization/10-minutes-with,/funding-round/f245a74b4c54610ae843e17bdf4d1113,seed,NaN,01-01-2013,0.400000,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
30,/organization/1000-corks,/funding-round/8f4fa70e24269ddd8bdf6658906b356b,seed,NaN,23-08-2011,0.040000,1000 Corks,http://1000corks.com,Search,operating,USA,OR,"Portland, Oregon",Lake Oswego,01-01-2008
31,/organization/1000-markets,/funding-round/ce6749b6441f52ccaf38b6d5578779fd,seed,NaN,15-05-2009,0.500000,1000 Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,WA,Seattle,Seattle,01-01-2009
32,/organization/1000chi,/funding-round/854fae13c5b26b2ea6b32b06c2e5890c,angel,NaN,01-04-2010,43.923865,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008
34,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,16-02-2011,2.520000,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
35,/organization/1000memories,/funding-round/f5fb428ed1e63321f88b3e646ba85f00,seed,NaN,01-01-2010,0.015000,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
36,/organization/1000museums-com,/funding-round/01c1aa44619ae45a16e3098fc73facfa,debt_financing,NaN,08-04-2013,0.647879,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114917,/organization/zynstra,/funding-round/129127802dd48be42d6cd45f65895245,venture,A,12-09-2013,3.800000,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
114918,/organization/zynstra,/funding-round/6c01f0a76c1341118d63b670ac841bd9,seed,NaN,03-03-2012,0.225000,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
114919,/organization/zynstra,/funding-round/dee233b3434185c14b3352034f72d798,angel,NaN,18-09-2012,2.325000,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011
114920,/organization/zyomyx-inc,/funding-round/4191cb5258d3863b0212d1083881da64,venture,B,30-06-2013,12.000000,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114921,/organization/zyomyx-inc,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,NaN,26-03-2014,7.500000,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114922,/organization/zyomyx-inc,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14.219999,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114923,/organization/zyomyx-inc,/funding-round/ea5b21da6cf999ff4d5667431fe318d7,venture,NaN,29-01-2010,0.555016,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114924,/organization/zype,/funding-round/24e8134882bf6c4dcc385abba0acd5d9,seed,NaN,01-04-2015,1.700000,Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,NY,New York City,New York,01-01-2013
114925,/organization/zype,/funding-round/c9f5097b3617c7539aa47c8b448163be,seed,NaN,27-10-2015,1.600000,Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,NY,New York City,New York,01-01-2013
114926,/organization/zypsee,/funding-round/472c6f7940522552fcca465b8cd3deef,seed,NaN,25-09-2013,2.150000,Whisk (formerly Zypsee),http://whisk.me,Public Transportation,operating,USA,NY,New York City,New York,01-01-2011
114928,/organization/zyraz-technology,/funding-round/3c3ae0f177e01a04deea811e1828be35,private_equity,NaN,15-02-2013,0.020967,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114929,/organization/zyraz-technology,/funding-round/55f33b179dd6f4516315348c1e8350c6,angel,NaN,01-01-2008,2.007363,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114930,/organization/zyraz-technology,/funding-round/c05aab2155e390066d51c6852ff61464,grant,NaN,11-09-2009,5.400000,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114931,/organization/zyraz-technology,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7.991547,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114932,/organization/zyrra,/funding-round/2a13fa52848ace2760b224a350a76b40,seed,NaN,15-11-2010,0.445000,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
114933,/organization/zyrra,/funding-round/39baf35e59eb3efc5409cd4c5eaa50e1,seed,NaN,21-10-2010,0.050000,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
114934,/organization/zyrra,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,NaN,18-10-2012,0.140500,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
114935,/organization/zyrra,/funding-round/cc8cd96a500332d5b4f4bcbddb306099,angel,NaN,15-12-2010,0.875000,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN
114936,/organization/zystor,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8.500000,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN
114937,/organization/zytoprotec,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,A,29-01-2013,2.686600,Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,3,Vienna,Gerasdorf Bei Wien,01-01-2007
114938,/organization/zzish,/funding-round/34b560f672bebeb339a5efa3b27eae5d,grant,NaN,25-02-2015,0.400000,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014
114939,/organization/zzish,/funding-round/4c82e18a8e3eab2647719d0fc27ead5f,angel,NaN,31-10-2014,0.400000,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014
114940,/organization/zzish,/funding-round/73721fffc980d228f051e87422aa8732,seed,NaN,24-03-2014,0.320000,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014
114941,/organization/zznode-science-and-technology-co...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,A,01-04-2012,1.587301,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
114942,/organization/zzzzapp-com,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,NaN,01-11-2011,0.007000,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114943,/organization/zzzzapp-com,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,NaN,01-08-2013,0.033149,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,0.041313,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114945,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,0.032842,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,0.018192,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,0.014851,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

# Task 11: Compute average funding amount of venture type
### Outcome: Item #1 in Table 2.1 of excel sheet

In [96]:
inv_by_funding_type['raised_amount_usd'].mean().sort_values(ascending = False)

funding_round_type
post_ipo_debt            168.704572
post_ipo_equity           82.182494
secondary_market          79.649630
private_equity            73.308593
undisclosed               19.242370
debt_financing            17.043526
venture                   11.748949
grant                      4.300576
convertible_note           1.453439
product_crowdfunding       1.363131
angel                      0.958694
seed                       0.719818
equity_crowdfunding        0.538368
non_equity_assistance      0.411203
Name: raised_amount_usd, dtype: float64

# Task 12: Compute average funding amount of angel type
### Outcome: Item #2 in Table 2.1 of excel sheet

In [41]:
# Insert code here

# Task 13: Compute average funding amount of seed type
### Outcome: Item #3 in Table 2.1 of excel sheet

In [42]:
# Insert code here

# Task 14: Compute average funding amount of private equity venture type
### Outcome: Item #4 in Table 2.1 of excel sheet

In [43]:
# Insert code here

# Task 15: Determine most suitable investment type for Spark Funds
### Outcome: Item #5 in Table 2.1 of excel sheet

In [44]:
# Insert code here

# Task 16: Compute top 9 countries that have received highest total funding
### Outcome: top9 data frame with the top 9 countries

In [97]:
master_frame
inv_by_country=master_frame.groupby('country_code')
top_9=inv_by_country['raised_amount_usd'].sum().sort_values(ascending = False).head(9)
top_9

country_code
USA    669482.123821
CHN     75703.565796
GBR     32767.048060
IND     27686.336560
CAN     18424.675109
RUS     11279.120120
DEU     10017.763740
ISR      9713.884650
FRA      9059.770757
Name: raised_amount_usd, dtype: float64

# Task 17: Identify the top 3 English speaking countries in top9 data frame
### Outcome: Item #1,2,3 in Table 3.1 of excel sheet

In [46]:
# Insert code here

# Task 18: Map each company's primary sector to one of the 8 main sectors defined in the mappings.csv
### Outcome: Merged data frame that maps the primary sector to the main sector

In [105]:
primary_sector = master_frame['category_list'].str.split("|",expand=True)
master_frame['primary_sector']=primary_sector[0]
mapping_df = pd.read_csv("mapping.csv",encoding = "ISO-8859-1")

df_category_err = mapping_df[(mapping_df['category_list'].str.contains("0",na=False))&(~mapping_df['category_list'].str.contains("2.0",na=False))]
mapping_df.loc[(mapping_df['category_list'].str.contains("0",na=False))&(~mapping_df['category_list'].str.contains("2.0",na=False)),['category_list']] = df_category_err['category_list'].str.replace("0","na")

In [106]:
#mapping_df.set_index('category_list',inplace=True)
mapping_df.head(200)

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0
6,Ad Targeting,0,0,0,0,0,0,0,0,1
7,Advanced Materials,0,0,0,0,0,1,0,0,0
8,Adventure Travel,1,0,0,0,0,0,0,0,0
9,Advertising,0,0,0,0,0,0,0,0,1
10,Advertising Exchanges,0,0,0,0,0,0,0,0,1
11,Advertising Networks,0,0,0,0,0,0,0,0,1
12,Advertising Platforms,0,0,0,0,0,0,0,0,1
13,Advice,0,0,0,0,0,0,0,1,0
14,Aerospace,1,0,0,0,0,0,0,0,0
15,Agriculture,0,0,0,0,0,1,0,0,0
16,Air Pollution Control,0,0,1,0,0,0,0,0,0
17,Algorithms,0,0,0,0,0,0,0,1,0
18,All Markets,0,0,0,0,0,0,0,1,0
19,All Students,0,0,0,0,0,0,0,1,0
20,Alternative Medicine,0,0,0,0,1,0,0,0,0
21,Alumni,0,0,0,0,0,0,0,1,0
22,Analytics,0,0,0,0,0,0,0,0,1
23,Android,0,0,0,0,0,0,0,0,1
24,Angels,0,0,0,0,0,0,0,1,0
25,Animal Feed,0,0,0,0,1,0,0,0,0
26,Anything Capital Intensive,0,0,0,0,0,0,0,0,1
27,App Discovery,0,0,0,0,0,0,1,0,0
28,App Marketing,0,0,0,0,0,0,1,0,0
29,App Stores,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
170,Customer Service,0,0,0,0,0,0,0,0,1
171,Customer Support Tools,0,0,0,0,0,0,0,0,1
172,Cyber,0,0,0,0,0,0,0,0,1
173,Cyber Security,0,0,0,0,0,0,0,0,1
174,Data Center Automation,0,0,0,0,0,0,0,0,1
175,Data Center Infrastructure,0,0,0,0,0,0,0,0,1
176,Data Centers,0,0,0,0,0,0,0,0,1
177,Data Integration,0,0,0,0,0,0,0,0,1
178,Data Mining,0,0,0,0,0,0,0,0,1
179,Data Privacy,0,0,0,0,0,0,0,0,1
180,Data Security,0,0,0,0,0,0,0,0,1
181,Data Visualization,0,0,0,0,0,0,0,0,1
182,Databases,0,0,0,0,0,0,0,0,1
183,Debt Collecting,0,0,0,0,0,0,0,0,1
184,Defense,0,0,0,0,0,1,0,0,0
185,Delivery,0,0,0,0,0,0,1,0,0
186,Demographies,0,0,0,0,0,0,1,0,0
187,Dental,0,0,0,0,1,0,0,0,0
188,Design,1,0,0,0,0,0,0,0,0
189,Designers,1,0,0,0,0,0,0,0,0
190,Developer APIs,0,0,0,0,0,0,0,0,1
191,Developer Tools,0,0,0,0,0,0,0,0,1
192,Development Platforms,0,0,0,0,0,0,0,0,1
193,Diabetes,0,0,0,0,1,0,0,0,0
194,Diagnostics,0,0,0,0,1,0,0,0,0
195,Dietary Supplements,0,0,0,0,1,0,0,0,0
196,Digital Entertainment,0,0,0,1,0,0,0,0,0
197,Digital Media,0,0,0,1,0,0,0,0,0
198,Digital Rights Management,0,0,0,1,0,0,0,0,0
199,Digital Signage,0,0,0,1,0,0,0,0,0

In [109]:
def map_sector(sector):
    if mapping_df.index.contains(sector):
        return mapping_df.loc[sector][lambda x: x == 1].index[0]
    else:
        return "Others"

master_frame['main_sector']=list(map(map_sector,master_frame['primary_sector']))

['Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others',
 'Others']

In [127]:
d = master_frame[['primary_sector','main_sector']]
e = d.drop_duplicates()
e.shape

(716, 2)

In [88]:


z = master_frame.loc[(master_frame['country_code'].isin(['USA','GBR','IND'])) & (master_frame['funding_round_type']=='venture') & (master_frame['raised_amount_usd'] >=5000000) & (master_frame['raised_amount_usd'] <=15000000),:]
z.groupby(['country_code','main_sector']).company_permalink.count()

country_code  main_sector
GBR           Automotive & Sports                          16
              Blanks                                        7
              Cleantech / Semiconductors                  128
              Entertainment                                56
              Health                                       24
              Manufacturing                                42
              News, Search and Messaging                   73
              Others                                      149
              Social, Finance, Analytics, Advertising     133
IND           Automotive & Sports                          13
              Blanks                                        2
              Cleantech / Semiconductors                   20
              Entertainment                                33
              Health                                       19
              Manufacturing                                21
              News, Search and Messaging                   52
              Others                                      110
              Social, Finance, Analytics, Advertising      60
USA           Automotive & Sports                         167
              Blanks                                       86
              Cleantech / Semiconductors                 2300
              Entertainment                               591
              Health                                      909
              Manufacturing                               799
              News, Search and Messaging                 1582
              Others                                     3002
              Social, Finance, Analytics, Advertising    2714
Name: company_permalink, dtype: int64

# Task 19: Compute the most heavily invested main sector in each of the 3 countries (identified in Task 17) for the selected funding type (identifed in Task 15) and investments in the range of 5 - 15 million USD
### Outcome: 3 separate data frames for - one for each of the 3 countries containing observations for the selected funding type falling within the 5 - 15 million USD range.

In [92]:
D1=master_frame.loc[(master_frame['country_code'] =='USA') & (master_frame['funding_round_type']=='venture') & (master_frame['raised_amount_usd'] >=5000000) & (master_frame['raised_amount_usd'] <=15000000),:]

D1['inv_count_by_sector'] = D1.groupby('main_sector').main_sector.transform('count')
D1['total_inv_by_sector'] = D1.groupby('main_sector').raised_amount_usd.transform('sum')
D1.sort_values(by='inv_count_by_sector',ascending=False,inplace=True)
D1.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,main_sector,inv_count_by_sector,total_inv_by_sector
29312,/organization/dtt,/funding-round/c540310c185ba8218dec300b34b0c6b4,venture,NaN,10-06-2009,7000000.0,DTT,http://www.dttusa.com,Hospitality|Retail Technology|Specialty Retail...,closed,USA,CA,Los Angeles,Los Angeles,01-01-1999,Hospitality,Others,3002,2.676930e+10
31959,/organization/engim,/funding-round/cf05fa1293c266b1563bf3581c106853,venture,A,01-01-2001,12920000.0,Engim,http://www.engim.com/,Technology,operating,USA,MA,Boston,Acton,NaN,Technology,Others,3002,2.676930e+10
31478,/organization/employease,/funding-round/85aa7fa38264125006f1b766ad07071d,venture,C,26-10-2001,10000000.0,Employease,http://www.employease.com,Software,operating,USA,GA,Atlanta,Norcross,NaN,Software,Others,3002,2.676930e+10
86398,/organization/sciencelogic,/funding-round/3d13784304defa28ee864c41fa636dfd,venture,A,07-04-2010,15000000.0,ScienceLogic,http://www.sciencelogic.com,Software,operating,USA,VA,"Washington, D.C.",Reston,01-01-2003,Software,Others,3002,2.676930e+10
86390,/organization/science-37,/funding-round/7b8054e63d61c3ccdfa42763de8bf98c,venture,A,20-10-2015,6500000.0,Science 37,http://science37.com/,Technology,operating,USA,CA,Los Angeles,Los Angeles,NaN,Technology,Others,3002,2.676930e+10

In [58]:
D1=master_frame.loc[(master_frame['country_code'] =='USA') & (master_frame['funding_round_type']=='venture') & (master_frame['raised_amount_usd'] >=5) & (master_frame['raised_amount_usd'] <=15),:]

D1['inv_count_by_sector'] = D1.groupby('main_sector').main_sector.transform('count')
D1['total_inv_by_sector'] = D1.groupby('main_sector').raised_amount_usd.transform('sum')
D1.sort_values(by='inv_count_by_sector',ascending=False,inplace=True)


D2=master_frame.loc[(master_frame['country_code'] =='GBR') & (master_frame['funding_round_type']=='venture') & (master_frame['raised_amount_usd'] >=5) & (master_frame['raised_amount_usd'] <=15),:]

D2['inv_count_by_sector'] = D2.groupby('main_sector').main_sector.transform('count')
D2['total_inv_by_sector'] = D2.groupby('main_sector').raised_amount_usd.transform('sum')
D2.sort_values(by='inv_count_by_sector',ascending=False,inplace=True)

D3=master_frame.loc[(master_frame['country_code'] =='IND') & (master_frame['funding_round_type']=='venture') & (master_frame['raised_amount_usd'] >=5) & (master_frame['raised_amount_usd'] <=15),:]

D3['inv_count_by_sector'] = D3.groupby('main_sector').main_sector.transform('count')
D3['total_inv_by_sector'] = D3.groupby('main_sector').raised_amount_usd.transform('sum')
D3.sort_values(by='inv_count_by_sector',ascending=False,inplace=True)

#D1.head()
#D2.head()
#D3.head()

print("Total # of investments in USA is ",D1.inv_count_by_sector.sum())
print("Total amount of investments in USA is ",D1.total_inv_by_sector.sum())

print("Total # of investments in GBR is ",D2.inv_count_by_sector.sum())
print("Total amount of investments in GBR is ",D2.total_inv_by_sector.sum())

print("Total # of investments in IND is ",D3.inv_count_by_sector.sum())
print("Total amount of investments in IND is ",D3.total_inv_by_sector.sum())

# Table 5.1 Qs 9: For point 3 (top sector count-wise), which company received the highest investment?
D1[D1.main_sector=='Others'].groupby(['main_sector','company_permalink']).total_inv_by_sector.sum().sort_values(ascending=False)
D2[D2.main_sector=='Others'].groupby(['main_sector','company_permalink']).total_inv_by_sector.sum().sort_values(ascending=False)
D3[D3.main_sector=='Others'].groupby(['main_sector','company_permalink']).total_inv_by_sector.sum().sort_values(ascending=False)


D1[D1.main_sector=='Social, Finance, Analytics, Advertising'].groupby(['main_sector','company_permalink']).total_inv_by_sector.sum().sort_values(ascending=False)
D2[D2.main_sector=='Social, Finance, Analytics, Advertising'].groupby(['main_sector','company_permalink']).total_inv_by_sector.sum().sort_values(ascending=False)
D3[D3.main_sector=='Social, Finance, Analytics, Advertising'].groupby(['main_sector','company_permalink']).total_inv_by_sector.sum().sort_values(ascending=False)

Total # of investments in USA is  26019772
Total amount of investments in USA is  232420325.2524099
Total # of investments in GBR is  67384
Total amount of investments in GBR is  580845.3292150002
Total # of investments in IND is  20868
Total amount of investments in IND is  188882.06511

main_sector                              company_permalink
Social, Finance, Analytics, Advertising  /organization/manthan-systems                                 2202.19820
                                         /organization/komli-media                                     1651.64865
                                         /organization/microland                                       1101.09910
                                         /organization/grameen-financial-services                      1101.09910
                                         /organization/shopclues-com                                   1101.09910
                                         /organization/intarvo                                         1101.09910
                                         /organization/qyuki                                           1101.09910
                                         /organization/bankbazaar                                      1101.09910
                                         /organization/eka-software-solutions                          1101.09910
                                         /organization/yepme-com                                        550.54955
                                         /organization/excellence4u                                     550.54955
                                         /organization/epiance                                          550.54955
                                         /organization/emergent-ventures-india                          550.54955
                                         /organization/eko-india-financial-services                     550.54955
                                         /organization/ebs-worldwide-services                           550.54955
                                         /organization/crmnext                                          550.54955
                                         /organization/daksh-infosoft                                   550.54955
                                         /organization/funds-india                                      550.54955
                                         /organization/coverfox-insurance-broking                       550.54955
                                         /organization/capital-float                                    550.54955
                                         /organization/authorstream                                     550.54955
                                         /organization/apnaloan                                         550.54955
                                         /organization/annapurna-microfinace                            550.54955
                                         /organization/amagi-media-labs                                 550.54955
                                         /organization/akosha                                           550.54955
                                         /organization/agile                                            550.54955
                                         /organization/financial-information-network-operations-pvt     550.54955
                                         /organization/ideacts-innovations                              550.54955
                                         /organization/furlenco                                         550.54955
                                         /organization/fusion-microfinance                              550.54955
                                         /organization/unicommerce                                      550.54955
                                         /organization/travelguru                                       550.54955
                                         /organization/spire-technologies                               550.54955
                                         /organization/shubham-housing-development-finance-company      550.54955
                                         /organization/shiram-credit                                    550.54955
                                         /organization/razorpay                                         550.54955
                                         /organization/prizm-payment-services                           550.54955
                                         /organization/policybazaar                                     550.54955
                                         /organization/network18                                        550.54955
                                         /organization/neogrowth                                        550.54955
                                         /organization/minglebox                                        550.54955
                                         /organization/loginext-solutions                               550.54955
                                         /organization/lendingkart                                      550.54955
                                         /organization/innoviti                                         550.54955
                                         /organization/industrybuying                                   550.54955
                                         /organization/indiaideas                                       550.54955
                                         /organization/vizury                                           550.54955
                                         /organization/a-little-world                                   550.54955
Name: total_inv_by_sector, dtype: float64

# Task 20: Determine the main sectors and countries Sparks Funds should invest by filling up Table 5.1 of excel sheet
### Outcome: Filled up Table 5.1 in excel sheet

# Task 21: Create a plot showing the fraction of total investments (globally) in venture, seed, and private equity, and the average amount of investment in each funding type
### Outcome: Tableau plot

In [ ]:
# Insert code to export data for use in Tableau??

# Task 22: Create a plot showing the top 9 countries against the total amount of investments for the selected funding type
### Outcome: Tableau plot

In [ ]:
# Insert code to export data for use in Tableau??

# Task 23: A plot showing the number of investments in the top 3 sectors of the top 3 countries on one chart for the selected investment type 
### Outcome: Tableau Plot

In [ ]:
# Insert code to export data for use in Tableau??