In [ ]:
# Investment case study python file
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

# Import the numpy and pandas packages

import numpy as np
import pandas as pd

# Task 1 : Load companies data into companies data frame

In [ ]:
# Insert code here

# Task 2: Load rounds data into rounds2 data frame

In [ ]:
# Insert code here

# Task 3: Extract list of countries from PDF where English is an official language

In [ ]:
# Insert code here

# Task 4: Compute no. of unique companies in round2
### Outcome: Item #1 in Table 1.1 of excel sheet

In [ ]:
# Insert code here

# Task 5: Compute no. of unique companies in companies
### Outcome: Item #2 in Table 1.1 of excel sheet

In [ ]:
# Insert code here

# Task 6: Identify column in companies df that can be used as unique key for each company
### Outcome: Item #3 in Table 1.1 of excel sheet

In [ ]:
# Insert code here

# Task 7: Check if there are companies in round2 that are not in companies
### Outcome: Item #4 in Table 1.1 of excel sheet

In [ ]:
# Insert code here

# Task 8: Merge companies & round2 data frames into master_frame df and compute total no. of observations in master_frame
### Outcome: Item#5 in Table 1.1 of excel sheet; master_frame data frame"

In [ ]:
# Insert code here

# Task 9: Resolve encoding issue in permalink column
### Outcome: Updated master_frame data frame

In [ ]:
# Insert code here

# Task 10: Resolve encoding issue in company_permalink
### Outcome: Updated master_frame data frame

In [ ]:
# Insert code here

# Task 11: Compute average funding amount of venture type
### Outcome: Item #1 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 12: Compute average funding amount of angel type
### Outcome: Item #2 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 13: Compute average funding amount of seed type
### Outcome: Item #3 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 14: Compute average funding amount of private equity venture type
### Outcome: Item #4 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 15: Determine most suitable investment type for Spark Funds
### Outcome: Item #5 in Table 2.1 of excel sheet

In [ ]:
# Insert code here

# Task 16: Compute top 9 countries that have received highest total funding
### Outcome: top9 data frame with the top 9 countries

In [ ]:
# Insert code here

# Task 17: Identify the top 3 English speaking countries in top9 data frame
### Outcome: Item #1,2,3 in Table 3.1 of excel sheet

In [ ]:
# Insert code here

# Task 18: Map each company's primary sector to one of the 8 main sectors defined in the mappings.csv
### Outcome: Merged data frame that maps the primary sector to the main sector

In [ ]:
# Insert code here

# Task 19: Compute the most heavily invested main sector in each of the 3 countries (identified in Task 17) for the selected funding type (identifed in Task 15) and investments in the range of 5 - 15 million USD
### Outcome: 3 separate data frames for - one for each of the 3 countries containing observations for the selected funding type falling within the 5 - 15 million USD range.

In [ ]:
# Insert code here

# Task 20: Determine the main sectors and countries Sparks Funds should invest by filling up Table 5.1 of excel sheet
### Outcome: Filled up Table 5.1 in excel sheet

In [ ]:
# Insert code here

# Task 21: Create a plot showing the fraction of total investments (globally) in venture, seed, and private equity, and the average amount of investment in each funding type
### Outcome: Tableau plot

In [ ]:
# Insert code to export data for use in Tableau??

# Task 22: Create a plot showing the top 9 countries against the total amount of investments for the selected funding type
### Outcome: Tableau plot

In [ ]:
# Insert code to export data for use in Tableau??

# Task 23: A plot showing the number of investments in the top 3 sectors of the top 3 countries on one chart for the selected investment type 
### Outcome: Tableau Plot

In [ ]:
# Insert code to export data for use in Tableau??