In [1]:
# Investment case study python file
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

# Import the numpy, pandas and PDF packages

import numpy as np
import pandas as pd
import PyPDF2 as pdf

__---------------------------------------------------------------------------------------__

# Task: Import Files and resolve encoding

*__SubTask: Load companies data into companies data frame__*

In [2]:
# code for importing the companies.csv file. ipynb file and the source file in the same location 
companies = pd.read_csv("companies.txt",sep='\t',encoding="ISO-8859-1",header=(0)) 
companies.head(5)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

*__SubTask: Load rounds data into rounds2 data frame__*

In [3]:
# code for importing the rounds2.csv file. ipynb file and the source file in the same location 
rounds2 = pd.read_csv("rounds2.csv",encoding="ISO-8859-1",header=(0)) 
rounds2.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

*__SubTask: Resolve encoding issues__*<br>
*__Outcome: updated rounds2 and companies file__*

In [4]:
# code for resolving encoding issues in company_permalink column in rounds2 dataframe
rounds2['company_permalink'] = rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
rounds2.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [5]:
# code for resolving encoding issues in permalink and name column in companies dataframe
companies['permalink'] = companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
companies['name'] = companies.name.str.encode('utf-8').str.decode('ascii', 'ignore')
companies.head(5)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [6]:
# code for testing if the encoding has been resolved
companies[companies['homepage_url']=='http://inovatiff.com']

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66367,/Organization/Novatiff-Reklam-Ve-TanTM-Hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

*__SubTask: Extract list of countries from PDF where English is an official language__*<br>
*Comments: since the file is only a reference file, the below code is only to understand the data. Also the country name doesnt have country code associated, hence this will not be used to merge with rounds2 data*

In [7]:
# reading the pdf file
pdf_object = open('Countries_where_English_is_an_official_language.pdf', 'rb')
pdfobject = pdf.PdfFileReader(pdf_object)
countries = pdfobject.getPage(0).extractText()
countries.split('\n')

['ListofcountrieswhereEnglishisanofficiallanguage',
 'AfricaBotswanaCameroonEthiopiaEritrea',
 'TheGambiaGhanaKenyaLesothoLiberiaMalawiMauritiusNamibiaNigeriaRwandaSeychellesSierraLeone',
 'SouthAfricaSouthSudanSudanSwazilandTanzaniaUgandaZambiaZimbabwe',
 'AmericasAntiguaandBarbudaTheBahamas',
 'BarbadosBelizeCanadaDominicaGrenadaGuyanaJamaicaSaintKittsandNevisSaintLuciaSaintVincentandtheGrenadinesTrinidadandTobago',
 'UnitedStates',
 '',
 'AsiaIndiaPakistanPhilippinesSingaporeAustralia/OceaniaAustraliaFijiKiribatiMarshallIslandsFederatedStates',
 'ofMicronesiaNauruNewZealand',
 'PalauPapuaNewGuineaSamoaSolomonIslands',
 'TongaTuvaluVanuatu',
 'EuropeIrelandMaltaUnitedKingdom',
 '']

__---------------------------------------------------------------------------------------__

# Task: Table 1.1

*__SubTask: How many unique companies are present in rounds2?__*

In [8]:
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower().str.strip()
rounds2['company_permalink'].unique().shape # 66368 unique companies

(66368,)

*__SubTask: How many unique companies are present in companies?__*

In [9]:
companies['permalink'] = companies['permalink'].str.lower().str.strip()
companies['permalink'].unique().shape # 66368 unique companies

(66368,)

*__SubTask: In the companies data frame, which column can be used as the unique key for each company?__*
>*Based on the investigation of data*
>>*__rounds2: company_permalink__*<br>
>>*__companies: permalink__*

*__SubTask: Are there any companies in the rounds2 file which are not present in companies?__*

In [10]:
rounds2[~rounds2['company_permalink'].isin(companies['permalink'])] 
#Answer: N

Empty DataFrame
Columns: [company_permalink, funding_round_permalink, funding_round_type, funding_round_code, funded_at, raised_amount_usd]
Index: []

*__SubTask: Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame.__*<br>
> - *__Name the merged frame master_frame.__*<br>
> - *__How many observations are present in master_frame?__*

In [11]:
master_frame = pd.merge(rounds2, companies, left_on = 'company_permalink', right_on = 'permalink', how='inner')
master_frame.shape 
#Observations:114949

(114949, 16)

# Checkpoint 1: Data Cleaning 1 Complete

__---------------------------------------------------------------------------------------__

# Task: Table 2.1

*__SubTask: Calculate the average investment amount for each of the four funding types (venture, angel, seed, and private equity)__*<br>
> - *__Review the data__*
> - *__Cleanse the data__*

*__Subtask: Review the date__*

In [12]:
# Identify the unique funding types
master_frame.funding_round_type.unique()

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance'], dtype=object)

In [13]:
# Since the analysis is based on the amount invested, check the values/nulls for the same
(master_frame[master_frame.raised_amount_usd.isnull()].shape[0]/master_frame.shape[0])*100

17.390320924931927

*__Subtask: Making decision on null values__*<br>
> - *__Drop the null values__*<br>
> - *__Compute the null values__*

*__Subtask:Drop null 17% rows where raised_amount_usd isnull__*

In [14]:
# Dropping null values
master_frame_null = master_frame[~master_frame.raised_amount_usd.isnull()]

In [15]:
#Calculating average investment (in millions) by funding type
funding_grp = master_frame_null.groupby('funding_round_type')
funding_grp['raised_amount_usd'].mean()/1000000

funding_round_type
angel                      0.958694
convertible_note           1.453439
debt_financing            17.043526
equity_crowdfunding        0.538368
grant                      4.300576
non_equity_assistance      0.411203
post_ipo_debt            168.704572
post_ipo_equity           82.182494
private_equity            73.308593
product_crowdfunding       1.363131
secondary_market          79.649630
seed                       0.719818
undisclosed               19.242370
venture                   11.748949
Name: raised_amount_usd, dtype: float64

*__Subtask:Compute null values__*

In [16]:
# identify the best values to compute investment amount
master_frame.raised_amount_usd.describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

In [17]:
# Based on the variation and spread, it is advisable to compute the value to the values of 75%
master_frame_compute = master_frame
master_frame_compute.loc[pd.isnull(master_frame_compute['raised_amount_usd']), ['raised_amount_usd']] = master_frame_compute['raised_amount_usd'].describe()[6]

In [18]:
#Calculating average investment (in millions) by funding type
funding_grp = master_frame_compute.groupby('funding_round_type')
funding_grp['raised_amount_usd'].mean()/1000000

funding_round_type
angel                      2.182024
convertible_note           2.582898
debt_financing            16.733262
equity_crowdfunding        4.563745
grant                      4.393829
non_equity_assistance      4.481769
post_ipo_debt            168.704572
post_ipo_equity           81.004085
private_equity            63.180935
product_crowdfunding       1.693094
secondary_market          29.941988
seed                       2.143784
undisclosed               10.954958
venture                   11.298306
Name: raised_amount_usd, dtype: float64

*__Based on the above using drop null values approach__*
> __Reasons:__
>> - Null value %ge is not very significant
>> - Dropping null values will still have >80% values
>> - Compute is not accurate as the mean and the rest of the values varies signifcantly
>> - Outcome of compute method shows "Undisclosed" as one of the types of investments, which may not make sense for the investor

In [19]:
# Map Master frame to the data frame without null values
master_frame = master_frame_null
master_frame.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN

In [20]:
#Repeating the step for average investment (in millions) by funding type
funding_grp = master_frame.groupby('funding_round_type')
funding_grp['raised_amount_usd'].mean()/1000000

funding_round_type
angel                      0.958694
convertible_note           1.453439
debt_financing            17.043526
equity_crowdfunding        0.538368
grant                      4.300576
non_equity_assistance      0.411203
post_ipo_debt            168.704572
post_ipo_equity           82.182494
private_equity            73.308593
product_crowdfunding       1.363131
secondary_market          79.649630
seed                       0.719818
undisclosed               19.242370
venture                   11.748949
Name: raised_amount_usd, dtype: float64

*__Which investment type do you think is the most suitable for Spark Funds?__*
> - *__Answer: venture__*

In [21]:
# creating a new master frame for venture only data
master_frame_venture = master_frame[master_frame['funding_round_type']=='venture']
master_frame_venture.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011

# Checkpoint 2: Funding Type Analysis complete

__---------------------------------------------------------------------------------------__

# Task: Table 3.1

*__Subtask: For the chosen investment type, make a data frame named top9 with the top nine countries__*

In [22]:
top_country_grp = master_frame_venture.groupby('country_code') 

df_top_country = pd.DataFrame(top_country_grp.raised_amount_usd.sum().sort_values(ascending = False).head(9)/1000000)
df_top_country

              raised_amount_usd
country_code
USA               422510.842796
CHN                39835.418773
GBR                20245.627416
IND                14391.858718
CAN                 9583.332317
FRA                 7259.536732
ISR                 6907.514579
DEU                 6346.959822
JPN                 3363.676611

*__Subtask:Identify the top 3 English speaking countries in top9 data frame__*<br>

*Based on the above dataframe and PDF, below are the observations:*<br>
> - Top English-speaking country : __USA__ <br>
> - Second English-speaking country : __GBR__ <br>
> - Third English-speaking country : __IND__

# Checkpoint 3: Country Analysis Complete

__---------------------------------------------------------------------------------------__

# Task: Table 5.1

*__Subtask: Map each company's primary sector to one of the 8 main sectors defined in the mappings.csv__*

In [23]:
# update Master frame with venture funding type to have only the top 3 english speaking countries 
master_frame_venture = master_frame_venture[master_frame_venture['country_code'].isin(['USA','GBR','IND'])]
master_frame_venture.country_code.unique()

array(['IND', 'USA', 'GBR'], dtype=object)

*__Subtask: Identify Primary sector in master frame__*

In [24]:
# split category list based on "|"" delimeter to identify the primary sector
master_frame_venture["primary_sector"] = master_frame_venture['category_list'].str.split("|", n = 1, expand = True)[0]

*__Subtask: Read CSV file and perform the following__*<br>
> - __Import the file__<br>
> - __Review the data__<br>
> - __Resolve data issues__

In [25]:
# Import the file
df_mapping = pd.read_csv("mapping.csv")
df_mapping

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0
6,Ad Targeting,0,0,0,0,0,0,0,0,1
7,Advanced Materials,0,0,0,0,0,1,0,0,0
8,Adventure Travel,1,0,0,0,0,0,0,0,0
9,Advertising,0,0,0,0,0,0,0,0,1
10,Advertising Exchanges,0,0,0,0,0,0,0,0,1
11,Advertising Networks,0,0,0,0,0,0,0,0,1
12,Advertising Platforms,0,0,0,0,0,0,0,0,1
13,Advice,0,0,0,0,0,0,0,1,0
14,Aerospace,1,0,0,0,0,0,0,0,0
15,Agriculture,0,0,0,0,0,1,0,0,0
16,Air Pollution Control,0,0,1,0,0,0,0,0,0
17,Algorithms,0,0,0,0,0,0,0,1,0
18,All Markets,0,0,0,0,0,0,0,1,0
19,All Students,0,0,0,0,0,0,0,1,0
20,Alter0tive Medicine,0,0,0,0,1,0,0,0,0
21,Alumni,0,0,0,0,0,0,0,1,0
22,A0lytics,0,0,0,0,0,0,0,0,1
23,Android,0,0,0,0,0,0,0,0,1
24,Angels,0,0,0,0,0,0,0,1,0
25,Animal Feed,0,0,0,0,1,0,0,0,0
26,Anything Capital Intensive,0,0,0,0,0,0,0,0,1
27,App Discovery,0,0,0,0,0,0,1,0,0
28,App Marketing,0,0,0,0,0,0,1,0,0
29,App Stores,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
658,Usability,0,0,0,0,0,0,0,1,0
659,User Experience Design,0,0,0,0,0,0,0,1,0
660,User Interface,0,0,0,0,0,0,0,1,0
661,Utilities,0,0,0,0,0,0,0,1,0
662,Vending and Concessions,0,0,0,0,0,0,0,1,0
663,Venture Capital,0,0,0,0,0,0,0,0,1
664,Veteri0ry,0,0,0,0,1,0,0,0,0
665,Video,0,0,0,1,0,0,0,0,0
666,Video Conferencing,0,0,0,1,0,0,0,0,0
667,Video Games,0,0,0,1,0,0,0,0,0
668,Video on Demand,0,0,0,1,0,0,0,0,0
669,Video Streaming,0,0,0,1,0,0,0,0,0
670,Virtual Workforces,0,0,0,1,0,0,0,0,0
671,VoIP,0,0,0,1,0,0,0,0,0
672,Waste Ma0gement,0,0,1,0,0,0,0,0,0
673,Watch,0,0,0,0,0,0,0,1,0
674,Water,0,0,1,0,0,0,0,0,0
675,Water Purification,0,0,1,0,0,0,0,0,0
676,Wearables,0,0,1,0,0,0,0,0,0
677,Web Browsers,0,0,0,0,0,0,1,0,0
678,Web Design,0,0,0,0,0,0,1,0,0
679,Web Development,0,0,0,0,0,0,0,1,0
680,Web Hosting,0,0,0,0,0,0,0,1,0
681,Web Tools,0,0,0,0,0,0,0,1,0
682,Weddings,0,0,0,1,0,0,0,0,0
683,Wholesale,0,0,0,0,0,0,0,1,0
684,Wine And Spirits,0,0,0,1,0,0,0,0,0
685,Wireless,0,0,0,1,0,0,0,0,0
686,Women,0,0,0,0,0,0,0,1,0
687,Young Adults,0,0,0,0,0,0,0,1,0

*__Review and Clean Data__*
> - Data Issue: Few rows have 0 instead of "na" for example "A0lytics" instead of "Analytics" <br>
> - Need to replace 0 where applicable with "na" <br>
> - Ensure correct 0s are not replaced

In [26]:
# replace 0 with "na", ensure Enterprise 2.0 is kept intact
df_category_err = df_mapping[(df_mapping['category_list'].str.contains("0",na=False))&(~df_mapping['category_list'].str.contains("2.0",na=False))]
df_mapping.loc[(df_mapping['category_list'].str.contains("0",na=False))&(~df_mapping['category_list'].str.contains("2.0",na=False)),['category_list']] = df_category_err['category_list'].str.replace("0","na")

In [27]:
# Test for corrected values
df_mapping[(df_mapping['category_list'].str.contains("2.0",na=False)) | (df_mapping['category_list']=="Analytics")]

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
22,Analytics,0,0,0,0,0,0,0,0,1
243,Enterprise 2.0,0,0,0,0,0,0,0,1,0

*__Subtask: Convert the cross tabular data to identify the mapping where value is 1__*

In [28]:
# Convert the crosstab to list and filter the data for value =1 to identify the mapping
column_value = np.array(df_mapping.columns.tolist())
column_value = column_value.reshape(1,10)
df_mapping_list = pd.melt(df_mapping, id_vars=['category_list'], value_vars=print(column_value))
df_mapping_list = df_mapping_list[df_mapping_list["value"]==1]
df_mapping_list.head(10)

[['category_list' 'Automotive & Sports' 'Blanks'
  'Cleantech / Semiconductors' 'Entertainment' 'Health' 'Manufacturing'
  'News, Search and Messaging' 'Others'
  'Social, Finance, Analytics, Advertising']]

        category_list             variable  value
8    Adventure Travel  Automotive & Sports      1
14          Aerospace  Automotive & Sports      1
45               Auto  Automotive & Sports      1
46    Automated Kiosk  Automotive & Sports      1
47         Automotive  Automotive & Sports      1
57           Bicycles  Automotive & Sports      1
69   Boating Industry  Automotive & Sports      1
87                CAD  Automotive & Sports      1
93               Cars  Automotive & Sports      1
188            Design  Automotive & Sports      1

In [29]:
# Rename the columns as per the assignment and drop unnecessary columns
df_mapping_list["main_sector"] = df_mapping_list["variable"] 
df_mapping_list = df_mapping_list.drop(["variable","value"],axis=1)

*__Subtask: Merge mappings and master data frame to map the main sector to primary sector__*<br>
> - __Review the merge columns__<br>
> - __Identify join columns__
> - __Identify missing rows and compute__
> - __Perform merge__
> - __Drop unnecessary columns in the final datafram__

In [30]:
# review columns in the ventures master frame
master_frame_venture.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd', 'permalink',
       'name', 'homepage_url', 'category_list', 'status', 'country_code',
       'state_code', 'region', 'city', 'founded_at', 'primary_sector'],
      dtype='object')

In [31]:
# review columns in the ventures mapping dataframe
df_mapping_list.columns

Index(['category_list', 'main_sector'], dtype='object')

In [32]:
#Identify missing primary sector between ventures masterframe and mapping dataframe
master_frame_venture[~master_frame_venture['primary_sector'].str.lower().isin(df_mapping_list['category_list'].str.lower())].primary_sector.unique()

array(['Natural Gas Uses', 'Adaptive Equipment', 'Racing',
       'Specialty Retail', 'Biotechnology and Semiconductor',
       'Rapidly Expanding', 'Product Search', 'GreenTech', 'Retirement'],
      dtype=object)

In [33]:
# merge ventures master dataframe to mapping list to map primary sector to main sector with a left join
master_frame_venture = pd.merge(master_frame_venture, df_mapping_list, left_on = master_frame_venture['primary_sector'].str.strip().str.lower(), right_on = df_mapping_list['category_list'].str.strip().str.lower(), how='left')

In [34]:
#Assign missing main sectors in ventures main data frame to "Blanks" Sector
master_frame_venture.loc[pd.isnull(master_frame_venture['main_sector']), ['main_sector']] = 'Others'

In [35]:
# Check the ventures main data frame for any null main sectors
master_frame_venture[master_frame_venture.main_sector.isnull()]

Empty DataFrame
Columns: [key_0, company_permalink, funding_round_permalink, funding_round_type, funding_round_code, funded_at, raised_amount_usd, permalink, name, homepage_url, category_list_x, status, country_code, state_code, region, city, founded_at, primary_sector, category_list_y, main_sector]
Index: []

# Checkpoint 4: Sector Analysis 1 Complete

__---------------------------------------------------------------------------------------__

*__Subtask:Compute the most heavily invested main sector in each of the 3 countries (identified previously) for the selected funding type (identifed in Task 15) and investments in the range of 5 - 15 million USD and assign them to 3 new dataframes D1, D2 & D3__*

*__Data frame for USA__*

In [36]:
# Create Dataframe form USA as D1
D1 = master_frame_venture[(master_frame_venture['country_code']=='USA') & (master_frame_venture['raised_amount_usd']>=5000000) & (master_frame_venture['raised_amount_usd']<=15000000)]
# Add Invesment count and Investment amount by main sector
D1['inv_count_by_sector'] = D1.groupby('main_sector').main_sector.transform('count')
D1['total_inv_by_sector'] = D1.groupby('main_sector').raised_amount_usd.transform('sum')

*__Data frame for GBR__*

In [37]:
# Create Dataframe form GBR as D2
D2 = master_frame_venture[(master_frame_venture['country_code']=='GBR') & (master_frame_venture['raised_amount_usd']>=5000000) & (master_frame_venture['raised_amount_usd']<=15000000)]
# Add Invesment count and Investment amount by main sector
D2['inv_count_by_sector'] = D2.groupby('main_sector').main_sector.transform('count')
D2['total_inv_by_sector'] = D2.groupby('main_sector').raised_amount_usd.transform('sum')

*__Data frame for IND__*

In [38]:
# Create Dataframe form IND as D3
D3 = master_frame_venture[(master_frame_venture['country_code']=='IND') & (master_frame_venture['raised_amount_usd']>=5000000) & (master_frame_venture['raised_amount_usd']<=15000000)]
# Add Invesment count and Investment amount by main sector
D3['inv_count_by_sector'] = D3.groupby('main_sector').main_sector.transform('count')
D3['total_inv_by_sector'] = D3.groupby('main_sector').raised_amount_usd.transform('sum')

*__Subtask: Find Total # of investments for each of the the 3 top countries chosen__*

In [39]:
# USA
D1.shape

(12150, 22)

In [40]:
# GBR
D2.shape

(628, 22)

In [41]:
# IND
D3.shape

(330, 22)

*__Subtask: Find Total amount of investment (USD) for each of the the 3 top countries chosen__*

In [42]:
# USA
D1.raised_amount_usd.sum()/1000000

108531.347515

In [43]:
# GBR
D2.raised_amount_usd.sum()/1000000

5436.843539

In [44]:
# IND
D3.raised_amount_usd.sum()/1000000

2976.543602

*__Subtask: Identify top Sector name (no. of investment-wise) for each of the the 3 top countries chosen__*

In [47]:
# USA
D1.groupby('main_sector').permalink.count().sort_values(ascending = False).head(9)

main_sector
Others                                     2951
Social, Finance, Analytics, Advertising    2714
Cleantech / Semiconductors                 2350
News, Search and Messaging                 1583
Health                                      909
Manufacturing                               799
Entertainment                               591
Automotive & Sports                         167
Blanks                                       86
Name: permalink, dtype: int64

In [48]:
#GBR
D2.groupby('main_sector').permalink.count().sort_values(ascending = False).head(9)

main_sector
Others                                     147
Social, Finance, Analytics, Advertising    133
Cleantech / Semiconductors                 130
News, Search and Messaging                  73
Entertainment                               56
Manufacturing                               42
Health                                      24
Automotive & Sports                         16
Blanks                                       7
Name: permalink, dtype: int64

In [49]:
#IND
D3.groupby('main_sector').permalink.count().sort_values(ascending = False).head(9)

main_sector
Others                                     110
Social, Finance, Analytics, Advertising     60
News, Search and Messaging                  52
Entertainment                               33
Manufacturing                               21
Cleantech / Semiconductors                  20
Health                                      19
Automotive & Sports                         13
Blanks                                       2
Name: permalink, dtype: int64

*__Subtask: Identify the company with highest investment for the top sector (count-wise) for each of the the 3 top countries chosen__*

In [50]:
# USA
D1[D1['main_sector']=='Others'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,main_sector,inv_count_by_sector,total_inv_by_sector
18151,software,/organization/kasenna,/funding-round/2a5eb141d3e4dc231633756f10104774,venture,NaN,08-07-2004,15000000.0,/organization/kasenna,Kasenna,http://www.kasenna.com,...,USA,CA,SF Bay Area,Sunnyvale,NaN,Software,Software,Others,2951,2.633049e+10

In [51]:
# GBR
D2[D2['main_sector']=='Others'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,main_sector,inv_count_by_sector,total_inv_by_sector
35000,software,/organization/tribold,/funding-round/36c8164caf2a5283a766e2a85b9d663c,venture,B,22-03-2007,15000000.0,/organization/tribold,Tribold,http://www.tribold.com,...,GBR,H9,London,London,01-01-2003,Software,Software,Others,147,1.283624e+09

In [52]:
# IND
D3[D3['main_sector']=='Others'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,main_sector,inv_count_by_sector,total_inv_by_sector
19203,e-commerce,/organization/limeroad,/funding-round/8fb89dd64b186869e4fc63d83366eb12,venture,B,05-05-2014,15000000.0,/organization/limeroad,LimeRoad,http://www.limeroad.com,...,IND,10,New Delhi,Gurgaon,01-01-2012,E-Commerce,E-Commerce,Others,110,1.013410e+09

*__Subtask: Identify the company with highest investment for the second best sector (count-wise) for each of the the 3 top countries chosen__*

In [53]:
# USA
D1[D1['main_sector']=='Social, Finance, Analytics, Advertising'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,main_sector,inv_count_by_sector,total_inv_by_sector
9499,analytics,/organization/datatorrent,/funding-round/531635ec985518d35c3ad7e433326ada,venture,B,28-04-2015,15000000.0,/organization/datatorrent,DataTorrent,https://www.datatorrent.com/,...,USA,CA,SF Bay Area,Santa Clara,01-01-2012,Analytics,Analytics,"Social, Finance, Analytics, Advertising",2714,2.380738e+10

In [54]:
# GBR
D2[D2['main_sector']=='Social, Finance, Analytics, Advertising'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,main_sector,inv_count_by_sector,total_inv_by_sector
30803,advertising,/organization/similarweb,/funding-round/71de07b07ac7f6b7348a72a231e4ae3f,venture,D,25-11-2014,15000000.0,/organization/similarweb,SimilarWeb,http://www.similarweb.com,...,GBR,H9,London,London,01-02-2009,Advertising,Advertising,"Social, Finance, Analytics, Advertising",133,1.089404e+09

In [55]:
# IND
D3[D3['main_sector']=='Social, Finance, Analytics, Advertising'].sort_values('raised_amount_usd',ascending = False).head(1)

,key_0,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,...,country_code,state_code,region,city,founded_at,primary_sector,category_list_y,main_sector,inv_count_by_sector,total_inv_by_sector
12533,finance,/organization/financial-information-network-op...,/funding-round/fff5471135f5744c4c1062d674350b82,venture,NaN,09-12-2009,15000000.0,/organization/financial-information-network-op...,Financial Information Network & Operations Pvt,http://www.fino.co.in,...,IND,16,Mumbai,Mumbai,01-01-2006,Finance,Finance,"Social, Finance, Analytics, Advertising",60,550549550.0

# Checkpoint 5: Sector Analysis 2 complete

__---------------------------------------------------------------------------------------__

# Task : Tableau plots data extracts

*__Subtask: Plot1: Fraction of total investments (globally) in venture, seed, and private equity, and the average amount of investment in each funding type__*

In [57]:
df_plot1 = pd.DataFrame(funding_grp.raised_amount_usd.sum()/1000000)
df_plot1["Total"] = master_frame.raised_amount_usd.sum()/1000000
df_plot1["Fraction"]=df_plot1.raised_amount_usd/df_plot1.Total
df_plot1["Average_Investment"]=funding_grp.raised_amount_usd.mean()/1000000
df_plot1
df_plot1.to_csv("plot1", sep=',', encoding='utf-8')

__Subtask: Plot2:Top 9 countries against the total amount of investments for the selected funding type__*

In [62]:
df_plot2 = pd.DataFrame(master_frame.groupby('country_code').raised_amount_usd.sum().sort_values(ascending = False).head(9)/1000000)
df_plot2
df_plot2.to_csv("plot2", sep=',', encoding='utf-8')

*__Subtask:Plot3: Number of investments in the top 3 sectors of the top 3 countries for the selected investment type__*

In [73]:
df_plot3 = pd.DataFrame(master_frame_venture[(master_frame_venture['raised_amount_usd']>=5000000) & (master_frame_venture['raised_amount_usd']<=15000000)].groupby(['country_code','main_sector']).permalink.count())
df_plot3.to_csv("plot3", sep=',', encoding='utf-8')
df_plot3

                                                      permalink
country_code main_sector
GBR          Automotive & Sports                             16
             Blanks                                           7
             Cleantech / Semiconductors                     130
             Entertainment                                   56
             Health                                          24
             Manufacturing                                   42
             News, Search and Messaging                      73
             Others                                         147
             Social, Finance, Analytics, Advertising        133
IND          Automotive & Sports                             13
             Blanks                                           2
             Cleantech / Semiconductors                      20
             Entertainment                                   33
             Health                                          19
             Manufacturing                                   21
             News, Search and Messaging                      52
             Others                                         110
             Social, Finance, Analytics, Advertising         60
USA          Automotive & Sports                            167
             Blanks                                          86
             Cleantech / Semiconductors                    2350
             Entertainment                                  591
             Health                                         909
             Manufacturing                                  799
             News, Search and Messaging                    1583
             Others                                        2951
             Social, Finance, Analytics, Advertising       2714

# Checkpoint: Tableau plot extracts complete

__---------------------------------------------------------------------------------------__