# Market Mix Modelling for an e-commerce firm

#### Problem statment:

Eleckart, an e-commerce firm based out of Ontario, Canada spends a significant amount of money on marketing. The marketing budget is spent on commercials, online campaigns and pricing & promotion strategies. Eleckartâ€™s CFO feels that the money spent over the last 12 months did not have enough impact and that the budget can be cut or optimally reallocated across marketing levers to improve revenue.

#### Goal:
As part of the marketing team, which is working on budget optimisation, we need to develop a market mix model with the following objectives:

- Observe the actual impact of different marketing variables over the last one year
- Recommend the optimal budget allocation for different marketing levers for the next year

In [148]:
# import libraties
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# Phase 1: Understanding the data

In [149]:
products = pd.read_csv('ConsumerElectronics.csv')

In [150]:
products.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3.419301e+15,3.419301e+15,6400,1,\N,\N,COD,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1.420831e+15,1.420831e+15,6900,1,\N,\N,COD,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2.421913e+15,2.421913e+15,1990,1,\N,\N,COD,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4.416592e+15,4.416592e+15,1690,1,\N,\N,Prepaid,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4.419525e+15,4.419525e+15,1618,1,\N,\N,Prepaid,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3

## 1.2 Understanding Media Investment (Krishnan)

In [151]:
from pandas import ExcelWriter
from pandas import ExcelFile

media_invest = pd.read_excel('Media data and other information.xlsx', sheet_name='Media Investment',skiprows=2)

print(media_invest.columns)

Index(['Unnamed: 0', 'Year', 'Month', 'Total Investment', 'TV', 'Digital',
       'Sponsorship', 'Content Marketing', 'Online marketing', ' Affiliates',
       'SEM', 'Radio', 'Other'],
      dtype='object')

In [152]:
media_invest.head()

,Unnamed: 0,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,NaN,2015.0,7.0,17.061775,0.215330,2.533014,7.414270,0.000933,1.327278,0.547254,5.023697,NaN,NaN
1,NaN,2015.0,8.0,5.064306,0.006438,1.278074,1.063332,0.000006,0.129244,0.073684,2.513528,NaN,NaN
2,NaN,2015.0,9.0,96.254380,3.879504,1.356528,62.787651,0.610292,16.379990,5.038266,6.202149,NaN,NaN
3,NaN,2015.0,10.0,170.156297,6.144711,12.622480,84.672532,3.444075,24.371778,6.973711,31.927011,NaN,NaN
4,NaN,2015.0,11.0,51.216220,4.220630,1.275469,14.172116,0.168633,19.561574,6.595767,5.222032,NaN,NaN

In [153]:
#Dropping the Unnamed column
media_invest.drop(media_invest.columns[[0]],axis=1,inplace=True)

In [154]:
media_invest.head()

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,2015.0,7.0,17.061775,0.215330,2.533014,7.414270,0.000933,1.327278,0.547254,5.023697,NaN,NaN
1,2015.0,8.0,5.064306,0.006438,1.278074,1.063332,0.000006,0.129244,0.073684,2.513528,NaN,NaN
2,2015.0,9.0,96.254380,3.879504,1.356528,62.787651,0.610292,16.379990,5.038266,6.202149,NaN,NaN
3,2015.0,10.0,170.156297,6.144711,12.622480,84.672532,3.444075,24.371778,6.973711,31.927011,NaN,NaN
4,2015.0,11.0,51.216220,4.220630,1.275469,14.172116,0.168633,19.561574,6.595767,5.222032,NaN,NaN

In [155]:
#Retaining only the rows corresponding to the 12 months from Jul2015 to Jun2016
media_invest.drop(media_invest[media_invest.index > 11].index,inplace=True)

In [156]:
#Replacing all the missing values with zeros
media_invest.fillna(0,inplace=True)

In [157]:
#Converting the year and month values to integer values from floating points
media_invest = media_invest.astype({"Year":'int64', "Month":'int64'})

In [158]:
#Trimming the columns of any white spaces
media_invest.columns = media_invest.columns.str.strip()

In [159]:
media_invest

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,2015,7,17.061775,0.215330,2.533014,7.414270,0.000933,1.327278,0.547254,5.023697,0.00,0.000000
1,2015,8,5.064306,0.006438,1.278074,1.063332,0.000006,0.129244,0.073684,2.513528,0.00,0.000000
2,2015,9,96.254380,3.879504,1.356528,62.787651,0.610292,16.379990,5.038266,6.202149,0.00,0.000000
3,2015,10,170.156297,6.144711,12.622480,84.672532,3.444075,24.371778,6.973711,31.927011,0.00,0.000000
4,2015,11,51.216220,4.220630,1.275469,14.172116,0.168633,19.561574,6.595767,5.222032,0.00,0.000000
5,2015,12,106.745312,5.397502,3.063360,56.705419,1.067307,22.503756,6.826938,11.181030,0.00,0.000000
6,2016,1,74.196000,4.380000,0.456000,4.200000,0.900000,22.900000,7.370000,4.200000,2.70,27.090000
7,2016,2,48.052000,2.586008,1.912651,11.725555,0.596771,19.892366,6.465019,4.873630,0.00,0.000000
8,2016,3,100.024621,9.300000,2.100000,41.590000,0.370000,18.437818,6.217667,5.193591,0.87,15.945545
9,2016,4,56.848241,5.205196,0.871892,24.308354,0.034876,16.514510,5.693456,4.219958,0.00,0.000000
10,2016,5,78.057000,1.370000,0.770000,31.680000,0.790000,23.650000,6.800000,6.910000,1.10,4.987000
11,2016,6,42.834216,1.662717,1.420761,25.048541,0.045081,7.971300,2.768023,3.735516,0.00,0.000000

In [160]:
media_invest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 12 columns):
Year                 12 non-null int64
Month                12 non-null int64
Total Investment     12 non-null float64
TV                   12 non-null float64
Digital              12 non-null float64
Sponsorship          12 non-null float64
Content Marketing    12 non-null float64
Online marketing     12 non-null float64
Affiliates           12 non-null float64
SEM                  12 non-null float64
Radio                12 non-null float64
Other                12 non-null float64
dtypes: float64(10), int64(2)
memory usage: 1.2 KB

#### Observations:
- media_invest dataframe has 12 columns
- `Year` and `month` columns represent the year and month of investment
- The other 10 columns represent the monthly investments in 10 different advertising channels during the period Jul2015-Jun2016

## 1.3 Understanding monthly NPS score

In [161]:
nps_score = pd.read_excel('Media data and other information.xlsx', sheet_name='Monthly NPS Score')
print(nps_score.columns)

Index(['Unnamed: 0', 'July'15', 'Aug'15', 'Sept'15', 'Oct'15', 'Nov'15',
       'Dec'15', 'Jan'16', 'Feb'16', 'Mar'16', 'Apr'16', 'May'16', 'June'16'],
      dtype='object')

In [162]:
nps_score = nps_score.T

In [163]:
nps_score.columns = ['NPS','Stock Index']

In [164]:
nps_score = nps_score.iloc[1:]

In [165]:
nps_score

             NPS Stock Index
July'15  54.5996        1177
Aug'15   59.9871        1206
Sept'15  46.9254        1101
Oct'15   44.3984        1210
Nov'15        47        1233
Dec'15      45.8        1038
Jan'16    47.093        1052
Feb'16   50.3274        1222
Mar'16   49.0206        1015
Apr'16   51.8276        1242
May'16    47.307        1228
June'16  50.5167        1194

In [166]:
nps_score.reset_index(level=0, inplace=True)

In [167]:
#Replacing the long month names with the shorter month names to help with the datetime parsing
nps_score = nps_score.replace('July', 'Jul', regex=True)
nps_score = nps_score.replace('Sept', 'Sep', regex=True)
nps_score = nps_score.replace('June', 'Jun', regex=True)

In [168]:
nps_score['MonthYear'] =  pd.to_datetime(nps_score['index'], format="%b'%y")

In [169]:
nps_score.drop(['index'],axis=1,inplace=True)

In [170]:
nps_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
NPS            12 non-null float64
Stock Index    12 non-null float64
MonthYear      12 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2)
memory usage: 368.0 bytes

In [171]:
nps_score

          NPS  Stock Index  MonthYear
0   54.599588       1177.0 2015-07-01
1   59.987101       1206.0 2015-08-01
2   46.925419       1101.0 2015-09-01
3   44.398389       1210.0 2015-10-01
4   47.000000       1233.0 2015-11-01
5   45.800000       1038.0 2015-12-01
6   47.093031       1052.0 2016-01-01
7   50.327406       1222.0 2016-02-01
8   49.020550       1015.0 2016-03-01
9   51.827605       1242.0 2016-04-01
10  47.306951       1228.0 2016-05-01
11  50.516687       1194.0 2016-06-01

#### Observations:
- nps_score dataframe has 3 columns
- `NPS` column represents the NPS score for the corresponding month value reprsented by `MonthYear` column
- `Stock Index` column represents the company stock price for the corresponding month value reprsented by `MonthYear` column

## 1.4 Understanding Special Sale Calendar (Krishnan)

In [172]:
spl_sales = pd.read_excel('Media data and other information.xlsx', sheet_name='Special Sale Calendar')
spl_sales.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Sales Calendar'], dtype='object')

In [173]:
#Dropping the first column 
spl_sales.drop(['Unnamed: 0'],axis=1,inplace=True)

In [174]:
#Renaming the column to Year column as it contains year values
spl_sales.rename(columns={"Unnamed: 1": "Year"},inplace=True)

#Replacing all the missing values with zeros
spl_sales['Year'].fillna(0,inplace=True)

In [175]:
#Retaining only the rows corresponding to the special sale dates
spl_sales.drop(spl_sales[spl_sales.index > 11].index,inplace=True)

In [176]:
#Converting the year and month values to integer values from floating points
spl_sales = spl_sales.astype({"Year":'int64'})

In [177]:
#Filling up all the Year column values with the appropriate values
spl_sales.at[(spl_sales.index >= 1) & (spl_sales.index<=5),'Year']=2015
spl_sales.at[(spl_sales.index >= 7) & (spl_sales.index<=11),'Year']=2016

In [178]:
#Creating a column with the row index values
spl_sales['rowIndex'] = spl_sales.index

In [179]:
import datetime

#Custom function for extracting the start and end dates of the sale
def extractSaleDates(index, daterange):
    
    #Removing any trailing/leading white spaces
    datestr = daterange.strip()
    
    if(index != 5):
        
        if(index < 5):
            year=2015
        else:
            year=2016
    
        #Replacing 'th' with empty spaces
        datestr = datestr.replace("th","")
   
        #Splitting into day and month parts
        datestr = datestr.split(" ")
    
        days = datestr[0][1:].split("-")
        month = datestr[1][0:3]
    
        #Converting month name to a number
        monthNo = datetime.datetime.strptime(month, '%b').month
        startDay = int(days[0])
        endDay = int(days[1])
          
        startDate = datetime.datetime(year=year, month=monthNo, day=startDay)
        endDate = datetime.datetime(year=year, month=monthNo, day=endDay)
    
        if(startDate < endDate):    
            dateinfo = [startDate,endDate]
        else:
            dateinfo = [endDate,startDate]
            
    else:
        # Special case (25th Dec'15 - 3rd Jan'16)
        
        #Replacing 'th' with empty spaces
        datestr = datestr.replace("th","")
        datestr = datestr.replace("rd","")
        
        
        #Splitting the string into two parts
        datestr = datestr.split("-")
        startDatestr = datestr[0].replace(" ","")[1:]
        endDatestr = datestr[1].replace(" ","")[:-1]
        
        startDate = datetime.datetime.strptime(startDatestr, "%d%b'%y")
        endDate = datetime.datetime.strptime(endDatestr, "%d%b'%y")
        
        
        dateinfo = [startDate,endDate]
           
               
    return dateinfo

In [180]:
#Creating the "Start Date" and "End Date" columns to represent the start and end dates of the special sale window
spl_sales['Start Date'] = spl_sales.apply(lambda x: extractSaleDates(x['rowIndex'],x['Sales Calendar'])[0],axis=1)
spl_sales['End Date'] = spl_sales.apply(lambda x: extractSaleDates(x['rowIndex'],x['Sales Calendar'])[1],axis=1)

In [181]:
#Dropping the columns that are no longer required
spl_sales.drop(['rowIndex'],axis=1,inplace=True)
spl_sales.drop(['Year'],axis=1,inplace=True)
spl_sales.drop(['Sales Calendar'],axis=1,inplace=True)

In [182]:
spl_sales

   Start Date   End Date
0  2015-07-18 2015-07-19
1  2015-08-15 2015-08-17
2  2015-08-28 2015-08-30
3  2015-10-15 2015-10-17
4  2015-11-07 2015-11-14
5  2015-12-25 2016-01-03
6  2016-01-20 2016-01-22
7  2016-02-01 2016-02-02
8  2016-02-20 2016-02-21
9  2016-02-14 2016-02-15
10 2016-03-07 2016-03-09
11 2016-05-25 2016-05-27

#### Observations:
- `spl_sales` dataframe contains the special sale calendar between the period July 2015 - Jun 2016
- `spl_sales` dataframe contains two columns `Start Date` and `End Date` that contain the start and end dates for each special sale

## 1.5 Understanding Climate Data (Krishnan)

In [183]:
#Creating climate data frame from the ONTARIO-20xx.xlsx

from pandas import ExcelWriter
from pandas import ExcelFile

climate2015 = pd.read_excel('ONTARIO-2015.xlsx', sheet_name='ONTARIO-2015',skiprows=24)
climate2016 = pd.read_excel('ONTARIO-2016.xlsx', sheet_name='ONTARIO-2016',skiprows=24)

In [184]:
climate2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 27 columns):
Date/Time                    365 non-null datetime64[ns]
Year                         365 non-null int64
Month                        365 non-null int64
Day                          365 non-null int64
Data Quality                 229 non-null object
Max Temp (Â°C)                216 non-null float64
Max Temp Flag                13 non-null object
Min Temp (Â°C)                190 non-null float64
Min Temp Flag                39 non-null object
Mean Temp (Â°C)               190 non-null float64
Mean Temp Flag               39 non-null object
Heat Deg Days (Â°C)           190 non-null float64
Heat Deg Days Flag           39 non-null object
Cool Deg Days (Â°C)           190 non-null float64
Cool Deg Days Flag           39 non-null object
Total Rain (mm)              229 non-null float64
Total Rain Flag              7 non-null object
Total Snow (cm)              229 non-null float64
Total Snow Flag              9 non-null object
Total Precip (mm)            229 non-null float64
Total Precip Flag            12 non-null object
Snow on Grnd (cm)            229 non-null float64
Snow on Grnd Flag            2 non-null object
Dir of Max Gust (10s deg)    0 non-null float64
Dir of Max Gust Flag         0 non-null float64
Spd of Max Gust (km/h)       0 non-null float64
Spd of Max Gust Flag         0 non-null float64
dtypes: datetime64[ns](1), float64(13), int64(3), object(10)
memory usage: 77.1+ KB

In [185]:
climate2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 27 columns):
Date/Time                    366 non-null datetime64[ns]
Year                         366 non-null int64
Month                        366 non-null int64
Day                          366 non-null int64
Data Quality                 227 non-null object
Max Temp (Â°C)                226 non-null float64
Max Temp Flag                1 non-null object
Min Temp (Â°C)                219 non-null float64
Min Temp Flag                8 non-null object
Mean Temp (Â°C)               219 non-null float64
Mean Temp Flag               8 non-null object
Heat Deg Days (Â°C)           219 non-null float64
Heat Deg Days Flag           8 non-null object
Cool Deg Days (Â°C)           219 non-null float64
Cool Deg Days Flag           8 non-null object
Total Rain (mm)              227 non-null float64
Total Rain Flag              3 non-null object
Total Snow (cm)              227 non-null float64
Total Snow Flag              7 non-null object
Total Precip (mm)            227 non-null float64
Total Precip Flag            7 non-null object
Snow on Grnd (cm)            227 non-null float64
Snow on Grnd Flag            6 non-null object
Dir of Max Gust (10s deg)    0 non-null float64
Dir of Max Gust Flag         0 non-null float64
Spd of Max Gust (km/h)       0 non-null float64
Spd of Max Gust Flag         0 non-null float64
dtypes: datetime64[ns](1), float64(13), int64(3), object(10)
memory usage: 77.3+ KB

In [212]:
climate = climate2015.append(climate2016,ignore_index=True)

In [213]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 27 columns):
Date/Time                    731 non-null datetime64[ns]
Year                         731 non-null int64
Month                        731 non-null int64
Day                          731 non-null int64
Data Quality                 456 non-null object
Max Temp (Â°C)                442 non-null float64
Max Temp Flag                14 non-null object
Min Temp (Â°C)                409 non-null float64
Min Temp Flag                47 non-null object
Mean Temp (Â°C)               409 non-null float64
Mean Temp Flag               47 non-null object
Heat Deg Days (Â°C)           409 non-null float64
Heat Deg Days Flag           47 non-null object
Cool Deg Days (Â°C)           409 non-null float64
Cool Deg Days Flag           47 non-null object
Total Rain (mm)              456 non-null float64
Total Rain Flag              10 non-null object
Total Snow (cm)              456 non-null float64
Total Snow Flag              16 non-null object
Total Precip (mm)            456 non-null float64
Total Precip Flag            19 non-null object
Snow on Grnd (cm)            456 non-null float64
Snow on Grnd Flag            8 non-null object
Dir of Max Gust (10s deg)    0 non-null float64
Dir of Max Gust Flag         0 non-null float64
Spd of Max Gust (km/h)       0 non-null float64
Spd of Max Gust Flag         0 non-null float64
dtypes: datetime64[ns](1), float64(13), int64(3), object(10)
memory usage: 154.3+ KB

In [214]:
#Retaining only the rows corresponding to the period July 2015 - Jun 2016
startDate = datetime.datetime(2015, 7, 1)
endDate = datetime.datetime(2016,6,30)
climate = climate[(climate['Date/Time'] >= startDate) & (climate['Date/Time'] <= endDate)] 
climate = climate.reset_index(drop=True)
climate.head()

,Date/Time,Year,Month,Day,Data Quality,Max Temp (Â°C),Max Temp Flag,Min Temp (Â°C),Min Temp Flag,Mean Temp (Â°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,2015-07-01,2015,7,1,â€,24.5,NaN,17.0,NaN,20.8,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2015-07-02,2015,7,2,â€,24.0,NaN,14.0,NaN,19.0,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2015-07-03,2015,7,3,â€,25.0,NaN,10.0,NaN,17.5,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2015-07-04,2015,7,4,â€,26.0,NaN,11.0,NaN,18.5,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2015-07-05,2015,7,5,â€,28.0,NaN,14.0,NaN,21.0,...,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [215]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 27 columns):
Date/Time                    366 non-null datetime64[ns]
Year                         366 non-null int64
Month                        366 non-null int64
Day                          366 non-null int64
Data Quality                 215 non-null object
Max Temp (Â°C)                208 non-null float64
Max Temp Flag                7 non-null object
Min Temp (Â°C)                191 non-null float64
Min Temp Flag                24 non-null object
Mean Temp (Â°C)               191 non-null float64
Mean Temp Flag               24 non-null object
Heat Deg Days (Â°C)           191 non-null float64
Heat Deg Days Flag           24 non-null object
Cool Deg Days (Â°C)           191 non-null float64
Cool Deg Days Flag           24 non-null object
Total Rain (mm)              215 non-null float64
Total Rain Flag              7 non-null object
Total Snow (cm)              215 non-null float64
Total Snow Flag              6 non-null object
Total Precip (mm)            215 non-null float64
Total Precip Flag            11 non-null object
Snow on Grnd (cm)            215 non-null float64
Snow on Grnd Flag            6 non-null object
Dir of Max Gust (10s deg)    0 non-null float64
Dir of Max Gust Flag         0 non-null float64
Spd of Max Gust (km/h)       0 non-null float64
Spd of Max Gust Flag         0 non-null float64
dtypes: datetime64[ns](1), float64(13), int64(3), object(10)
memory usage: 77.3+ KB

In [216]:
#Dropping columns that have only null values
climate.drop(['Dir of Max Gust (10s deg)','Dir of Max Gust Flag','Spd of Max Gust (km/h)','Spd of Max Gust Flag'],axis=1,inplace=True)

In [217]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 23 columns):
Date/Time             366 non-null datetime64[ns]
Year                  366 non-null int64
Month                 366 non-null int64
Day                   366 non-null int64
Data Quality          215 non-null object
Max Temp (Â°C)         208 non-null float64
Max Temp Flag         7 non-null object
Min Temp (Â°C)         191 non-null float64
Min Temp Flag         24 non-null object
Mean Temp (Â°C)        191 non-null float64
Mean Temp Flag        24 non-null object
Heat Deg Days (Â°C)    191 non-null float64
Heat Deg Days Flag    24 non-null object
Cool Deg Days (Â°C)    191 non-null float64
Cool Deg Days Flag    24 non-null object
Total Rain (mm)       215 non-null float64
Total Rain Flag       7 non-null object
Total Snow (cm)       215 non-null float64
Total Snow Flag       6 non-null object
Total Precip (mm)     215 non-null float64
Total Precip Flag     11 non-null object
Snow on Grnd (cm)     215 non-null float64
Snow on Grnd Flag     6 non-null object
dtypes: datetime64[ns](1), float64(9), int64(3), object(10)
memory usage: 65.8+ KB

In [218]:
#Renaming the columns appropriately
climate.rename(columns={"Date/Time": "Date",
                        "Data Quality":"Data Quality Review"
                       },inplace=True)

In [219]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 23 columns):
Date                   366 non-null datetime64[ns]
Year                   366 non-null int64
Month                  366 non-null int64
Day                    366 non-null int64
Data Quality Review    215 non-null object
Max Temp (Â°C)          208 non-null float64
Max Temp Flag          7 non-null object
Min Temp (Â°C)          191 non-null float64
Min Temp Flag          24 non-null object
Mean Temp (Â°C)         191 non-null float64
Mean Temp Flag         24 non-null object
Heat Deg Days (Â°C)     191 non-null float64
Heat Deg Days Flag     24 non-null object
Cool Deg Days (Â°C)     191 non-null float64
Cool Deg Days Flag     24 non-null object
Total Rain (mm)        215 non-null float64
Total Rain Flag        7 non-null object
Total Snow (cm)        215 non-null float64
Total Snow Flag        6 non-null object
Total Precip (mm)      215 non-null float64
Total Precip Flag      11 non-null object
Snow on Grnd (cm)      215 non-null float64
Snow on Grnd Flag      6 non-null object
dtypes: datetime64[ns](1), float64(9), int64(3), object(10)
memory usage: 65.8+ KB

In [220]:
climate['Data Quality Review'].astype('category').value_counts(dropna=False)

â€       215
NaN    151
Name: Data Quality Review, dtype: int64

In [221]:
climate['Data Quality Review'].replace(np.nan,"Yes",inplace=True)
climate['Data Quality Review'].replace('â€ ',"No",inplace=True)
climate['Data Quality Review'].astype('category').value_counts(dropna=False)

No     215
Yes    151
Name: Data Quality Review, dtype: int64

In [223]:
climate['Max Temp (Â°C)'].describe()

count    208.000000
mean      19.177885
std        9.855212
min       -8.500000
25%       11.500000
50%       20.500000
75%       27.625000
max       35.000000
Name: Max Temp (Â°C), dtype: float64

In [224]:
climate['Max Temp Flag'].astype('category').value_counts(dropna=False)

NaN    359
M        7
Name: Max Temp Flag, dtype: int64

In [225]:
climate['Min Temp (Â°C)'].describe()

count    191.000000
mean       8.696335
std        8.757970
min      -18.000000
25%        2.750000
50%       10.000000
75%       16.000000
max       22.000000
Name: Min Temp (Â°C), dtype: float64

In [226]:
climate['Min Temp Flag'].astype('category').value_counts(dropna=False)

NaN    342
M       24
Name: Min Temp Flag, dtype: int64

In [227]:
climate['Mean Temp (Â°C)'].describe()

count    191.000000
mean      14.241361
std        8.941613
min      -12.300000
25%        8.000000
50%       15.300000
75%       21.800000
max       27.500000
Name: Mean Temp (Â°C), dtype: float64

In [228]:
climate['Mean Temp Flag'].astype('category').value_counts(dropna=False)

NaN    342
M       24
Name: Mean Temp Flag, dtype: int64

In [229]:
climate['Heat Deg Days (Â°C)'].describe()

count    191.000000
mean       5.712042
std        7.043183
min        0.000000
25%        0.000000
50%        2.700000
75%       10.000000
max       30.300000
Name: Heat Deg Days (Â°C), dtype: float64

In [230]:
climate['Heat Deg Days Flag'].astype('category').value_counts(dropna=False)

NaN    342
M       24
Name: Heat Deg Days Flag, dtype: int64

In [231]:
climate['Cool Deg Days (Â°C)'].describe()

count    191.000000
mean       1.953403
std        2.812954
min        0.000000
25%        0.000000
50%        0.000000
75%        3.800000
max        9.500000
Name: Cool Deg Days (Â°C), dtype: float64

In [232]:
climate['Cool Deg Days Flag'].astype('category').value_counts(dropna=False)

NaN    342
M       24
Name: Cool Deg Days Flag, dtype: int64

In [233]:
climate['Total Rain (mm)'].describe()

count    215.000000
mean       2.583721
std        6.684405
min        0.000000
25%        0.000000
50%        0.000000
75%        1.400000
max       57.200000
Name: Total Rain (mm), dtype: float64

In [234]:
climate['Total Rain Flag'].astype('category').value_counts(dropna=False)

NaN    359
T        7
Name: Total Rain Flag, dtype: int64

In [236]:
climate['Total Snow (cm)'].describe()

count    215.000000
mean       0.204651
std        1.132104
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       10.000000
Name: Total Snow (cm), dtype: float64

In [237]:
climate['Total Snow Flag'].astype('category').value_counts(dropna=False)

NaN    360
T        6
Name: Total Snow Flag, dtype: int64

In [238]:
climate['Total Precip (mm)'].describe()

count    215.000000
mean       2.788372
std        6.827481
min        0.000000
25%        0.000000
50%        0.000000
75%        2.100000
max       57.200000
Name: Total Precip (mm), dtype: float64

In [239]:
climate['Total Precip Flag'].astype('category').value_counts(dropna=False)

NaN    355
T       11
Name: Total Precip Flag, dtype: int64

In [240]:
climate['Snow on Grnd (cm)'].describe()

count    215.000000
mean       0.288372
std        1.497850
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max       12.000000
Name: Snow on Grnd (cm), dtype: float64

In [241]:
climate['Snow on Grnd Flag'].astype('category').value_counts(dropna=False)

NaN    360
T        6
Name: Snow on Grnd Flag, dtype: int64

# Phase 2: Data Preparation

## 2.1 Data preparation for order level data

## 2.2 Data preparation for media investment

In [244]:
media_invest

,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
0,2015,7,17.061775,0.215330,2.533014,7.414270,0.000933,1.327278,0.547254,5.023697,0.00,0.000000
1,2015,8,5.064306,0.006438,1.278074,1.063332,0.000006,0.129244,0.073684,2.513528,0.00,0.000000
2,2015,9,96.254380,3.879504,1.356528,62.787651,0.610292,16.379990,5.038266,6.202149,0.00,0.000000
3,2015,10,170.156297,6.144711,12.622480,84.672532,3.444075,24.371778,6.973711,31.927011,0.00,0.000000
4,2015,11,51.216220,4.220630,1.275469,14.172116,0.168633,19.561574,6.595767,5.222032,0.00,0.000000
5,2015,12,106.745312,5.397502,3.063360,56.705419,1.067307,22.503756,6.826938,11.181030,0.00,0.000000
6,2016,1,74.196000,4.380000,0.456000,4.200000,0.900000,22.900000,7.370000,4.200000,2.70,27.090000
7,2016,2,48.052000,2.586008,1.912651,11.725555,0.596771,19.892366,6.465019,4.873630,0.00,0.000000
8,2016,3,100.024621,9.300000,2.100000,41.590000,0.370000,18.437818,6.217667,5.193591,0.87,15.945545
9,2016,4,56.848241,5.205196,0.871892,24.308354,0.034876,16.514510,5.693456,4.219958,0.00,0.000000
10,2016,5,78.057000,1.370000,0.770000,31.680000,0.790000,23.650000,6.800000,6.910000,1.10,4.987000
11,2016,6,42.834216,1.662717,1.420761,25.048541,0.045081,7.971300,2.768023,3.735516,0.00,0.000000

In [245]:
media_invest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 12 columns):
Year                 12 non-null int64
Month                12 non-null int64
Total Investment     12 non-null float64
TV                   12 non-null float64
Digital              12 non-null float64
Sponsorship          12 non-null float64
Content Marketing    12 non-null float64
Online marketing     12 non-null float64
Affiliates           12 non-null float64
SEM                  12 non-null float64
Radio                12 non-null float64
Other                12 non-null float64
dtypes: float64(10), int64(2)
memory usage: 1.2 KB

#### Observations:
- There are no missing values

## 2.3 Data preparation for special sale calendar

In [246]:
spl_sales

   Start Date   End Date
0  2015-07-18 2015-07-19
1  2015-08-15 2015-08-17
2  2015-08-28 2015-08-30
3  2015-10-15 2015-10-17
4  2015-11-07 2015-11-14
5  2015-12-25 2016-01-03
6  2016-01-20 2016-01-22
7  2016-02-01 2016-02-02
8  2016-02-20 2016-02-21
9  2016-02-14 2016-02-15
10 2016-03-07 2016-03-09
11 2016-05-25 2016-05-27

#### Observations:
- spl_sales dataframe contains the special sale calendar between the period July 2015 - Jun 2016
- spl_sales dataframe contains two columns Start Date and End Date that contain the start and end dates for each special sale
- Data does not containing any missing values

## 2.4 Data preparation for monthly NPS score

In [247]:
nps_score

          NPS  Stock Index  MonthYear
0   54.599588       1177.0 2015-07-01
1   59.987101       1206.0 2015-08-01
2   46.925419       1101.0 2015-09-01
3   44.398389       1210.0 2015-10-01
4   47.000000       1233.0 2015-11-01
5   45.800000       1038.0 2015-12-01
6   47.093031       1052.0 2016-01-01
7   50.327406       1222.0 2016-02-01
8   49.020550       1015.0 2016-03-01
9   51.827605       1242.0 2016-04-01
10  47.306951       1228.0 2016-05-01
11  50.516687       1194.0 2016-06-01

#### Observations:

- nps_score dataframe has 3 columns
- NPS column represents the NPS score for the corresponding month value reprsented by MonthYear column
- Stock Index column represents the company stock price for the corresponding month value reprsented by MonthYear column

## 2.5 Data preparation for climate data

In [248]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 23 columns):
Date                   366 non-null datetime64[ns]
Year                   366 non-null int64
Month                  366 non-null int64
Day                    366 non-null int64
Data Quality Review    366 non-null object
Max Temp (Â°C)          208 non-null float64
Max Temp Flag          7 non-null object
Min Temp (Â°C)          191 non-null float64
Min Temp Flag          24 non-null object
Mean Temp (Â°C)         191 non-null float64
Mean Temp Flag         24 non-null object
Heat Deg Days (Â°C)     191 non-null float64
Heat Deg Days Flag     24 non-null object
Cool Deg Days (Â°C)     191 non-null float64
Cool Deg Days Flag     24 non-null object
Total Rain (mm)        215 non-null float64
Total Rain Flag        7 non-null object
Total Snow (cm)        215 non-null float64
Total Snow Flag        6 non-null object
Total Precip (mm)      215 non-null float64
Total Precip Flag      11 non-null object
Snow on Grnd (cm)      215 non-null float64
Snow on Grnd Flag      6 non-null object
dtypes: datetime64[ns](1), float64(9), int64(3), object(10)
memory usage: 65.8+ KB

In [249]:
climate.head()

,Date,Year,Month,Day,Data Quality Review,Max Temp (Â°C),Max Temp Flag,Min Temp (Â°C),Min Temp Flag,Mean Temp (Â°C),...,Cool Deg Days (Â°C),Cool Deg Days Flag,Total Rain (mm),Total Rain Flag,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag
0,2015-07-01,2015,7,1,No,24.5,NaN,17.0,NaN,20.8,...,2.8,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
1,2015-07-02,2015,7,2,No,24.0,NaN,14.0,NaN,19.0,...,1.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,2015-07-03,2015,7,3,No,25.0,NaN,10.0,NaN,17.5,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,2015-07-04,2015,7,4,No,26.0,NaN,11.0,NaN,18.5,...,0.5,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,2015-07-05,2015,7,5,No,28.0,NaN,14.0,NaN,21.0,...,3.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

## 2.6 Create aggregated order level data